@model  List<EpisodeObject>
@{
    var id = Url.RequestContext.RouteData.Values["id"];
}
@{if (Model != null)
  {
      if (Model.Count > 0)
      {
          foreach (var item in Model)
          {
              string href = String.Format("/Episode/Details/{0}/{1}", item.EpisodeId, item.slug);
    <div>
        <div class="e-img">
            <a href="@href">
                <img width="151" height="98" alt="" border="0" src="@Html.Raw(item.ImgUrl)" title="@Html.Raw(String.Format("{0} - {1}", item.Show, item.DateAiredStr))" alt="@Html.Raw(String.Format("{0} - {1}", item.Show, item.DateAiredStr))" /></a></div>
        <div class="e-body">
            <div class="e-title">
                <a href="@href">@Html.Raw(String.Format("{0} - {1}", item.Show, item.DateAiredStr))</a></div>
            <div class="e-desc">@Html.Raw(item.Synopsis.Ellipsis(80))</div>
        </div>
        <div class="clear">
        </div>
    </div>
          }
          if (Model.Count() >= GlobalConfig.NumberOfItemsInEpisodeList)
          { 
    @Html.ActionLink("fetch more episodes", "GetMoreEpisodes", new { id = id, page = ViewBag.page, episodeId = id, NextEpisodeId = ViewBag.NextEpisodeId, PreviousEpisodeId = ViewBag.PreviousEpisodeId, EpisodeNumber = ViewBag.EpisodeNumber, EpisodeCount = ViewBag.EpisodeCount }, new { @class = "e-loadmore" })
          }
      }
      else { }
  }
  else { }
}
