@model List<HomepageFeatureItem>
@{
    int id = ViewBag.id;
    int pageSize = ViewBag.pageSize;
}
<div class="row v_list team_video">
    <!-- team video -->
    @{if (Model != null)
      {
          if (Model.Count() > 0)
          {
              foreach (var item in Model)
              { 
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 movie">
            <!-- video  -->
            <div class="row">
                <div class="col-xs-12 left">
                    <div class="video_cover">
                        <!-- play button cover -->
                        <a href="@Url.Action("OnDemand", "UAAP", new { id = item.id })">
                            <img src="@item.imgurl" alt="@item.name" title="@item.name" class="img100" />
                            <div class="video_play_button">
                            </div>
                            <!-- play button -->
                        </a>
                        <!-- play button -->
                    </div>
                </div>
                <div class="col-xs-12 vright">
                    <h3>
                        <a href="@Url.Action("OnDemand", "UAAP", new { id = item.id })">@item.name</a></h3>
                    <p>
                        Date Aired: @item.airdate</p>
                </div>
            </div>
        </div>
              }
          }
      }}
    <div class="col-xs-12">
        <div class="sec_footer">
            <!-- load more -->
            <a href="@Url.Action("LoadMoreGames", new { id = id, page = 1, pageSize = pageSize })" class="loadMore">
                load more<br>
                @Html.ImageBuilder(Url, "ux/load_more.png", new { alt = "loadmore" })
            </a>
        </div>
    </div>
</div>
