@model List<IPTV2_Model.Episode>
@{
    string id = ViewBag.id;
    bool IsActive = ViewBag.IsActive;
}
@{if (Model != null)
  {
      if (Model.Count() > 0)
      {
          int ctr = 0;
          var lastItem = Model.Last();
    <div class="latest_game" id="@id">
        <!-- SEE ALL GAMES tab body -->
        <div class="col-xs-12 sa_bxslider">
            @{foreach (var item in Model)
              {
                  string img = String.Format("{0}{1}/{2}", GlobalConfig.EpisodeImgPath, item.EpisodeId, item.ImageAssets.ImageVideo);
                  bool ctr_eval = ctr % 2 == 0;
                  ctr++;
                @Html.Raw(String.Format("{0}", ctr_eval ? "<div class=\"slide\">" : String.Empty))
                <div class="movie">
                    <div class="video_cover">
                        <!-- play button cover -->
                        <a href="@Url.Action("OnDemand", "UAAP", new { id = item.EpisodeId })">
                            <img src="@img" alt="@item.EpisodeName" title="@item.EpisodeName" class="img100" />
                            <div class="video_play_button">
                            </div>
                            <!-- play button -->
                        </a>
                        <!-- play button -->
                    </div>
                    <h3>
                        <a href="@Url.Action("OnDemand", "UAAP", new { id = item.EpisodeId })">@item.EpisodeName</a></h3>
                </div>                  
                @Html.Raw(String.Format("{0}", ctr % 2 == 0 || (Model.IndexOf(item) == Model.Count() - 1) ? "</div>" : String.Empty))
                  if (ctr % 2 == 0) { ctr = 0; }
              }
            }
        </div>
        @{if (User.Identity.IsAuthenticated)
          {
            <text> <a href="@Url.Action("Details", "Subscribe")">
                <input type="button" class="red_button subscribe" value="SUBSCRIBE"></a>
            </text>
          }
        }
    </div>
      }

  }
}
