@model List<IPTV2_Model.CategoryClass>
@{
    DateTime registDt = DateTime.Now;
}
<div class="widget sec_loved_shows">
    <!-- Loved Shows widget -->
    <h3>
        Loved Shows</h3>
    <div class="row">
        @{if (Model != null)
          {
              if (Model.Count() > 0)
              {
                  foreach (var item in Model)
                  {
                      try
                      {
                          if (item.StartDate < registDt && item.EndDate > registDt && item is IPTV2_Model.Show)
                          {
                              string img = String.Empty;
                              if (!String.IsNullOrEmpty(item.ImagePoster))
                              {
                                  img = String.Format("{0}{1}/{2}", GlobalConfig.ShowImgPath, item.CategoryId, item.ImagePoster);
                              }
                              string href = String.Format("Show/Details/{0}/{1}", item.CategoryId, MyUtility.GetSlug(item.Description));
                              if (!String.IsNullOrEmpty(img))
                              { 
            <div class="col-md-4 col-sm-6 col-xs-4 feed_item">
                <a href="@href">
                    <img class="pgallary" src="@img" alt="@item.Description" title="@item.Description"></a>
            </div>      
                              }
                          }
                      }
                      catch (Exception) { }
                  }
            <div class="sec_footer">
                <!-- section of Load more -->
                <a href="#" class="loadMore">load more<br>
                    @Html.ImageBuilder(Url, "ux/load_more.png", new { alt = "Load more items" })</a>
            </div>
              }
          }
          else
          { 
            <p>
                You don't like any of our shows :(</p>
          }
        }
    </div>
</div>
