@model List<HomepageFeatureItem>
@{        
    string featureType = ViewBag.FeatureType;
    int id = ViewBag.id;
    int pageSize = ViewBag.pageSize;
    CelebrityContentType contentType = CelebrityContentType.SHOWS;
    if (ViewBag.ContentType != null)
    {
        contentType = ViewBag.ContentType;
    }
}
@{if (Model != null)
  {
      if (String.Compare(featureType, "episode", true) == 0)
      {
    <div class="row sec_body">
        @{if (Model.Count() > 0)
          {
              foreach (var item in Model)
              {
                  string href = String.Format("/Episode/Details/{0}/{1}", item.id, item.slug);
                  string title = String.Format("{0}, {1}", item.show_name, item.airdate);
            <!-- video with poster & name -->
            <div class="movie col-md-3 col-sm-4 col-xs-6">
                <div class="video_cover">
                    <!-- play button cover -->
                    <a href="@href" title="@title">
                        <img src="@Html.Raw(item.imgurl)" class="feature_thumb"
                    height="152" width="270" title="@Html.Raw(item.blurb.Ellipsis(80))" alt="@title"/><div
                        class="video_play_button">
                    </div>
                    </a>
                    <!-- play button -->
                </div>
                <!-- END play button cover -->
                <a href="@href" title="@title">
                    <h3 class="small_header">
                        @Html.Raw(item.show_name)
                    </h3>
                    <p class="date">
                        <span class="glyphicon glyphicon-time"></span>&nbsp;@Html.Raw(item.airdate)</p>
                </a>
            </div>
            <!-- end video poster -->
              }
          }
        }
    </div>
          if (Model.Count() == pageSize && Model.Count() > 0)
          { 
    <div class="sec_footer">
        <!-- load more -->
        <a href="@Url.Action("LoadMoreItems", new { id = id, page = ViewBag.page, pageSize = pageSize, featureType = featureType })" class="loadMore">
            load more<br>
            @Html.ImageBuilder(Url, "ux/load_more.png", new { alt = String.Format("Load more {0}", featureType) })
        </a>
    </div>
          }
      }
      else if (String.Compare(featureType, "show", true) == 0)
      { 
    <div class="row sec_body">
        @{if (Model != null)
          {
              if (Model.Count() > 0)
              {
                  foreach (var item in Model)
                  {
                      string href = String.Format("/Show/Details/{0}/{1}", item.id, item.slug);
                      string item_name = item.name;
                      if (contentType == CelebrityContentType.EPISODES)
                      {
                          href = String.Format("/Episode/Details/{0}/{1}", item.id, item.slug);
                          item_name = String.Format("{0}, {1}", item.name, item.airdate);
                      }
            <!-- video with poster & name -->
            <div class="movie col-md-2 col-sm-3 col-xs-6">
                <a href="@href" title="@item_name">
                    <img src="@Html.Raw(item.imgurl)" alt="@Html.Raw(item.name)"></a>
                <h3 class="small_header">
                    <a href="@href" title="@item.name">@Html.Raw(item.name)</a>
                </h3>
            </div>
            <!-- end video poster -->
                  }
              }
          }
        }
    </div>
          if (Model.Count() == pageSize && Model.Count() > 0)
          { 
    <div class="sec_footer">
        <!-- load more -->
        <a href="@Url.Action("LoadMoreItems", new { id = id, page = ViewBag.page, pageSize = pageSize, featureType = featureType, contentType = contentType })" class="loadMore">
            load more<br>
            @Html.ImageBuilder(Url, "ux/load_more.png", new { alt = String.Format("Load more {0}", featureType) })
        </a>
    </div>
          }

      }
      else if (String.Compare(featureType, "celebrity", true) == 0)
      { 
    <div class="row sec_body">
        @{if (Model.Count() > 0)
          {
              foreach (var item in Model)
              {
                  string href = String.Format("/Celebrity/Profile/{0}/{1}", item.id, item.slug);
            <!-- video with poster & name -->
            <div class="movie col-md-2 col-sm-3 col-xs-6">
                <a href="@href" title="@item.name">
                    <img src="@Html.Raw(item.imgurl)" alt="@Html.Raw(item.name)"></a>
                <h3 class="small_header">
                    <a href="@href" title="@item.name">@Html.Raw(item.name)</a>
                </h3>
            </div>
            <!-- end video poster -->
              }
          }
        }
    </div>
          if (Model.Count() == pageSize && Model.Count() > 0)
          { 
    <div class="sec_footer">
        <!-- load more -->
        <a href="@Url.Action("LoadMoreItems", new { id = id, page = ViewBag.page, pageSize = pageSize, featureType = featureType })" class="loadMore">
            load more<br>
            @Html.ImageBuilder(Url, "ux/load_more.png", new { alt = String.Format("Load more {0}", featureType) })
        </a>
    </div>
          }
      }
  }
}
