<section class="footersec">
    <div class="container">
        <div class="row">
            <!-- Copyright part -->
            <div class="col-md-6 col-sm-6 colo-xs-12" id="copyright">
                <p>
                    <span>&copy;</span> @DateTime.Now.Year All rights reserved by <a href="/">TFC</a></p>
            </div>
            <!-- end copyright -->
            <!-- footer menu -->
            <div class="col-md-6 col-sm-6 colo-xs-12 hide480" id="footermenu">
                <ul>
                    <li><a href="@Url.Action("Shows", "Category")">SHOWS</a></li>
                    <li><a href="@Url.Action("Movies", "Category")">MOVIES</a></li>
                    <li><a href="@Url.Action("News", "Category")">NEWS</a></li>
                    <li><a href="@Url.Action("Live", "Category")">Live</a></li>
                </ul>
                <span id="top-link-block">
                    <!-- back to top -->
                    <a href="#"><i class="glyphicon glyphicon-chevron-up"></i></a></span>
            </div>
            <!-- end footer menu -->
        </div>
    </div>
</section>
