@using IPTV2_Model
@model List<ProductPackage>
@{
    int CategoryID = ViewBag.CategoryID;
    string countrycode = ViewBag.countrycode;
    string currencycode = ViewBag.currencycode;
}
@if (Model != null)
{
    <div id="aboutPackage">
        <div class="genericHeader">
            <div class="genericHeader_header">
                <div id="pkgSubHeaderTitle" class="sectionHeaderTitle">
                    Available on</div>
                <div id="pkgSubHeaderCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <div id="packageContainer">
            <br />
            <div class="packageList_container">
                <!-- Products Package -->
                @if (Model != null)
                {

                    foreach (var GrpItem in Model.GroupBy(pck => new { pck.PackageId, pck.Package.PackageName })
                                                  .Select(group => new
                                                  {
                                                      group.Key.PackageId,
                                                      group.Key.PackageName
                                                  }))
                    {
                    <div class="packageitem_container">
                        <div class="packageproduct_container">
                            @Html.ImageBuilder(Url, "package/buttons/img_" + GrpItem.PackageId + ".png", new { height = "58", width = "227", alt = GrpItem.PackageName, prdid = GrpItem.PackageId })
                        </div>
                        <div class="pckgActionBtn">
                            <a pckId="@GrpItem.PackageId" class="subscribe_btn">Subscribe</a>
                            <div class="tooltip">
                                @foreach (var item in Model.Where(p => p.PackageId == GrpItem.PackageId))
                                {
                                    <a  href="/buy/process/@item.ProductId" rel="#bs_overlay" class="buyproduct">
                                        <div class="prod-left">
                                            @{ Html.RenderAction("GetAmount", "Show", new { productid = item.ProductId }); }
                                        </div>
                                        <div class="prod-right">
                                            &nbsp;| @(item.Product.DurationType == "m" ? item.Product.Duration + "-Month" : item.Product.Duration + "-Day")
                                        </div>
                                    </a>

                                }
                            </div>
                        </div>
                        <div class="pckgActionBtn border_left">
                            <a pckId="@GrpItem.PackageId" class="addwishlist_btn">Add to Wishlist</a>
                            <div class="tooltip">
                                @foreach (var item in Model.Where(p => p.PackageId == GrpItem.PackageId))
                                {
                                    <div>
                                        <a href="#Wish" prodid="@item.ProductId" rel="#bs_overlay" class="addwishlist" >
                                            @(item.Product.DurationType == "m" ? item.Product.Duration + "-Month" : item.Product.Duration + "-Day")
                                            @Html.ImageBuilder(Url, "package/buttons/wishlist.png", new { alt = "add to wishlist", width = "15" })
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    }
                }
                @Html.Action("GetAlaCarte", "Show", new { CategoryID = CategoryID ,Countrycode = countrycode, Currencycode = currencycode });               
            </div>
        </div>
    </div>
}

