@model IPTV2_Model.User
@{
    ViewBag.Title = "Reset your Password - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";

    TransactionReturnType ErrorMessage = null;
    String Err = String.Empty;
    IPTV2_Model.User user = null;
    String oid = String.Empty;
    String key = String.Empty;
    double ts = 0;

    try
    {
        if (TempData["ErrorMessage"] != null)
        {
            ErrorMessage = (TransactionReturnType)TempData["ErrorMessage"];
        }

        if (ViewBag.Err != null) { Err = ViewBag.Err; }
        if (ViewBag.user != null) { user = ViewBag.User; }
        if (ViewBag.oid != null) { oid = ViewBag.oid; }
        if (ViewBag.key != null) { key = ViewBag.key; }
        if (ViewBag.ts != null) { ts = ViewBag.ts; }
    }
    catch (Exception) { }
}
<!--  RESET PASSWORD page body -->
<section class="page_pagebody changepass_pagebody">
    <div class="container">
        <h1 class="page_title">
            RESET YOUR PASSWORD
        </h1>
        <!-- form  -->
        @{if (!String.IsNullOrEmpty(Err))
        {
            <div class="row">
                <!-- Error msg / row -->
                <div class="col-md-7 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert">x</a> @Err
                    </div>
                </div>
            </div>  <!-- END  Error msg / row -->
        }
        else
        {
            <form method="post" role="form" action="@Url.Action("_ResetYourPassword", "User", null, "https")">
                @Html.AntiForgeryToken()
                @{if (ErrorMessage != null)
                {
                    <div class="row">
                        <!-- Error msg / row -->
                        <div class="col-md-7 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                            <div class="alert alert-danger">
                                <a class="close" data-dismiss="alert">x</a> @ErrorMessage.StatusMessage
                            </div>
                        </div>
                    </div>  <!-- END  Error msg / row -->
                }}
                <div class="row form-group">
                    <!-- 1st line / row -->
                    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                        <label for="email">
                            Email Address
                        </label>
                    </div>
                    <div class="col-md-5 col-sm-7 col-xs-12">
                        <input class="form-control" type="email" name="email" value="@user.EMail"
                               disabled>
                    </div>
                </div>
                <!-- END line / row -->
                <!-- END 2nd line / row -->
                <div class="row form-group">
                    <!-- 3rd line / row -->
                    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                        <label for="newPass">
                            New Password
                        </label>
                    </div>
                    <div class="col-md-5 col-sm-7 col-xs-12">
                        <input class="form-control" type="password" name="newPass" required>
                    </div>
                </div>
                <!-- END 3rd line / row -->
                <div class="row form-group">
                    <!-- 4th line / row -->
                    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                        <label for="cnewPass">
                            Confirm New Password
                        </label>
                    </div>
                    <div class="col-md-5 col-sm-7 col-xs-12">
                        <input class="form-control" type="password" name="cnewPass" required>
                    </div>
                </div>
                <!-- END 4th line / row -->
                <div class="row form-group">
                    <!-- 5th line / row -->
                    <div class="col-md-2 col-md-offset-2 col-sm-3 col-sm-offset-1 col-xs-12">
                    </div>
                    <div class="col-md-5 col-sm-7 col-xs-12">
                        <input class="red_button" type="submit" value="SUBMIT">
                    </div>
                </div>
                <!-- END 5th line / row -->
                <input type="hidden" name="oid" id="oid" value="@oid" />
                <input type="hidden" name="key" id="key" value="@key" />
                <input type="hidden" name="ts" id="ts" value="@ts" />
            </form>
        <!-- END form -->
        }}
    </div>
    <!-- END container -->
</section>
<!-- END RESET PASSWORD page body -->
