@{
    ViewBag.Title = "Reset Your Password - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";

    IPTV2_Model.User user = ViewBag.User;

    var oid = ViewBag.oid;
    var key = ViewBag.key;
    var ts = ViewBag.ts;
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    Reset Your Password</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <!-- start of list -->
        <div id="registerContainer">
            <div class="breakStandard">
            </div>
            <div class="padLeftLarge">
                <div id="message">
                </div>
                <div id="registerBody">
                    <form id="changepwform" method="post" action="@Url.Action("_ChangePassword", "User")">
                    <div class="editor-row">
                        <div class="editor-label floatLeft">
                            Email Address
                        </div>
                        <div>
                            @Html.Raw(user.EMail)<span class="status"></span>
                        </div>
                    </div>
                    <div class="editor-row">
                        <div class="editor-label floatLeft">
                            New Password
                        </div>
                        <div>
                            <input id="NewPassword" name="NewPassword" type="password" class="textbox" />
                            <span class="errstatus"></span>
                        </div>
                    </div>
                    <div class="editor-row">
                        <div class="editor-label floatLeft">
                            Confirm New Password
                        </div>
                        <div>
                            <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="textbox" />
                            <span class="errstatus"></span>
                        </div>
                    </div>
                    <div class="breakStandard">
                    </div>
                    <div class="editor-row submit-row">
                        <input type="submit" class="btnimage submitbtn floatLeft" id="regsubmit" value="Update Profile" /><div
                            id="rsb-load" class="side-button-loader padLeftStandard">
                        </div>
                        <input type="hidden" name="oid" id="oid" value="@oid" />
                        <input type="hidden" name="key" id="key" value="@key" />
                        <input type="hidden" name="ts" id="ts" value="@ts" />
                    </div>
                    </form>
                    <div class="clear breakLarge">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<div id="ajaxloading" class="hideElement">
    <div id="spanner">
        @Html.ImageBuilder(Url, "loading.gif", new { alt = "loading...", width = "20", height = "20" })
        <span id="spannertext" class="spannertextvalign">please wait while we process your request...</span>
    </div>
</div>
<!-- end of list -->
@section Stylesheet
{
    @Html.CssBuilder(Url, "user.css")
    @Html.CssBuilder(Url, "editprofile.css")
}
@section JScriptBottom {
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var validator = $('form#changepwform').validate({
                rules: {
                    NewPassword: {
                        required: true,
                        minlength: 8
                    },
                    ConfirmPassword: {
                        required: true,
                        minlength: 8,
                        equalTo: '#NewPassword'
                    }
                },
                messages: {
                    NewPassword: {
                        required: 'Please provide a new password.',
                        minlength: $.format('Enter at least {0} characters.')
                    },
                    ConfirmPassword: {
                        required: 'Please confirm your new password.',
                        minlength: $.format('Enter at least {0} characters.'),
                        equalTo: 'Password mismatch!'
                    }
                },
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent().find('.errstatus'));
                }
            });
            $('form#changepwform').submit(function (event) {
                event.preventDefault();
                if (validator.numberOfInvalids() == 0) {
                    var form = $(this);
                    $('#message').empty();
                    $('#rsb-load').css('top', '4px');
                    $('#rsb-load').html('@Html.ImageBuilder(Url, "ajax-loader.gif", new { width = 20, height = 20, id = "loading-b", border = 0, alt = "loading..." })');
                    $.post('/User/_ResetPassword', form.find('input').serialize(), function (data) {
                        if (data.errorCode == 0) {
                            $('#message').html(createHighlight(data.errorMessage) + '<div class="breakStandard"></div>');
                            $('#rsb-load').empty();
                            setTimeout('redirectToPage("/")', 3000);
                        }
                        else {
                            $('#message').html(createError(data.errorMessage) + '<div class="breakStandard"></div>');
                            $('#rsb-load').empty();
                        }
                    });
                }
            });
        });

    </script>
}
