@using TFCTV.Helpers
@model IPTV2_Model.Episode
@{
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";

    ViewBag.Title = String.Format("{0} - TFC.tv", Model.Description);
    string countryCode = MyUtility.GetCurrentCountryCodeOrDefault();
    bool ShowFreeTrialImage = ViewBag.ShowFreeTrialImage;
    bool IsUserEntitled = false;

    IPTV2_Model.Show show = (IPTV2_Model.Show)ViewBag.Show;

    ViewDataDictionary dictionary = null;
    TFCTV.Helpers.UserData userData = TFCTV.Helpers.MyUtility.GetUserPrivacySetting(null);
    var LiveEventEpisodeId = Model.EpisodeId;

    if (MyUtility.isUserLoggedIn())
    {
        dictionary = new ViewDataDictionary();
        dictionary.Add(new KeyValuePair<string, object>("hasLoved", (bool)ViewBag.Loved));
        var userId = new Guid(User.Identity.Name);
        userData = TFCTV.Helpers.MyUtility.GetUserPrivacySetting(userId);
        dictionary.Add(new KeyValuePair<string, object>("userData", userData));
    }

    //Check for IsUserEntitled
    try
    {
        IsUserEntitled = (bool)ViewBag.IsUserEntitled;
    }
    catch (Exception) { }

    //ShareMedia
    string title = String.Empty;
    var image = Html.ContentBuilder(Url, "/content/images/blank-image.jpg").ToString();
    try
    {
        title = Model.Description;
        image = String.Format("{0}{1}/{2}", GlobalConfig.EpisodeImgPath, Model.EpisodeId, Model.ImageAssets.ImageVideo);
    }
    catch (Exception) { }

    string privacy = MyUtility.GetActivityFeedPrivacy(userData);
    string scope = MyUtility.GetActivityFeedScope(userData);

    var externalShare = userData.IsExternalSharingEnabled.Contains("true") ? "true" : "false";
    var internalShare = userData.IsInternalSharingEnabled.Contains("true") ? "true" : "false";

    var isLoggedIn = User.Identity.IsAuthenticated.ToString().ToLower();
    var cid = Model.Description;

    string src = !String.IsNullOrEmpty(show.ImagePoster) ? String.Format("{0}{1}/{2}", GlobalConfig.ShowImgPath, show.CategoryId, show.ImagePoster) : image;

    string trackingLabel = String.Format("{0}|{1}|{2}|{3}|{4}|{5}", LiveEventEpisodeId, Model.Description, String.Empty, ViewBag.CategoryType, ViewBag.EmailAddress, Request.GetUserHostAddressFromCloudflare());

    IPTV2_Model.Episode EpisodeModel = Model;
    //try
    //{
    //    var context = new IPTV2_Model.IPTV2Entities();
    //    EpisodeModel = context.Episodes.Find(LiveEventEpisodeId);
    //}
    //catch (Exception) { }

    var altcastcode = GlobalConfig.CoverItLiveAltCastCode;
    var KapamilyaChatUserRegistrationDate = GlobalConfig.KapamilyaChatUserRegistrationDate;
    var KapamilyaChatNumberOfWinners = GlobalConfig.KapamilyaChatNumberOfWinners;
    var KapamilyaChatRelatedVideosMaxCount = GlobalConfig.KapamilyaChatRelatedVideosMaxCount;
    var KapamilyaChatFeatureId = GlobalConfig.KapamilyaChatFeatureId;
    string img = GlobalConfig.AssetsBaseUrl + GlobalConfig.BlankGif;
    try
    {
        img = String.IsNullOrEmpty(Model.ImageAssets.ImageHeader) ? GlobalConfig.AssetsBaseUrl + GlobalConfig.BlankGif : String.Format("{0}{1}/{2}", GlobalConfig.EpisodeImgPath, Model.EpisodeId.ToString(), Model.ImageAssets.ImageHeader);
    }
    catch (Exception) { }
    
}
<br />
<br />
<div id="mainBody">
    <form id="form1" name="form1" method="post" action="#">
    <div class="transparentBg">
        <!-- click tayo header -->
        <div style="margin-bottom: -3px;">
            <img src="@img" width="940" height="141" title="@Model.Description" alt="@Model.Description" /></div>
        <!-- Video and Menu -->
        <div id="videoPlayerMenu" style="height: 600px;">
            <div id="videoPlayer">
                <div id="videoEmbed">
                    <div id="playerContainer" style="width: 540px; height: 406px;">
                    </div>
                </div>
                <div class="clear">
                </div>
                <div id="videoDetails" style="padding-left: 20px;">
                    <div id="videoCurrentInfo">
                        <div class="videoTitle">@Model.Description
                        </div>
                        <div class="breakSmall clear">
                        </div>
                        <div class="videoDescription">
                            <div class="more-less">
                                <div class="more-block">@Model.Synopsis</div>
                            </div>
                        </div>
                        <div class="breakStandard clear">
                        </div>
                        <div>@Html.Partial("_SharePartial", Model) @Html.Partial("_LovePartial", Model, dictionary)</div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="videoMenu">
                <div class="breakSmall clear">
                </div>
                <div id="videoCurrent" style="margin-top: 25px;">
                    <!-- Chat -->
                    <iframe src="http://www.coveritlive.com/index2.php/option=com_altcaster/task=viewaltcast/altcast_code=@altcastcode/height=550/width=350"
                        scrolling="no" height="550px" width="350px" frameborder="0" allowTransparency="true">
                        <a href="http://www.coveritlive.com/mobile.php/option=com_mobile/task=viewaltcast/altcast_code=@altcastcode">
                            @Model.Description</a></iframe>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="breakStandard">
        </div>
        <div class="leaderBoard" style="text-align: center;">
            <script type='text/javascript'>
                GA_googleFillSlot("TFCtv_KapamilyaChat_Leaderboard_728x90");
            </script>
        </div>
        <div class="clear">
        </div>
        <div class="breakSmall">
        </div>
        <div id="other-videos" class="transparentBg">
            <div class="clear breakLarge">
            </div>
            <div id="videoList">
                <div class="padLeftStandard">
                    <ul class="ds-tabs">
                        <li><a href="#" id="mlink" class="ds-link">Promo Mechanics</a></li>
                        <li><span class="white">|</span></li>
                        <li><a href="#" id="relvid" class="ds-link">Related Free Videos</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear breakStandard">
            </div>
            <div class="clear" style="border-bottom: 1px solid #393939; width: 930px;">
            </div>
            <div id="mechanics">
                <div class="breakStandard">
                </div>
                <div class="boldText white padLeftLarge" style="font-size: 18px; text-align: center;">
                    MECHANICS FOR GLOBAL KAPAMILYA FANS DAY RAFFLE CONTEST</div>
                <div class="breakStandard">
                </div>
                <div class="white" style="line-height: 22px; font-size: 13px; width: 96%; text-align: justify;">
                    <ol>
                        <li>The Global Kapamilya Fans Day Raffle Contest ("Contest") is a contest open to all
                            registered TFC.tv users as of @KapamilyaChatUserRegistrationDate.ToString("d MMMM yyyy")
                            at @KapamilyaChatUserRegistrationDate.ToString("hh:mm tt") Manila Time ("TFC.tv
                            User"). Each TFC.tv User shall be entitled to one (1) electronic raffle entry to
                            the Contest.</li>
                        <li>ABS-CBN employees, service provider and their relatives up to the 2nd degree of
                            consanguinity and affinity are not allowed to join the Contest.</li>
                        <li>There shall be @KapamilyaChatNumberOfWinners winners for the Event ("Winner/s").</li>
                        <li>The Winners shall be selected in a random drawing to be held during the Global Kapamilya
                            Fans Day ("Event") on TFC.tv by the authorized TFC.tv representative.</li>
                        <li>The Winner shall receive merchandise signed by TFC.tv's featured celebrity/ies.
                            The names of the Winners shall be announced during the Event. Please check TFC.tv’s
                            homepage for the schedule of the Event.</li>
                        <li>The decision of TFC.tv authorized representative shall be final and binding on all
                            matters concerning the Contest.</li>
                        <li>An email notice shall be sent to the registered email address of the Winner to inform
                            him/her the details on how to claim the Prize and the procedure on how he/she can
                            assign or transfer the Prize to another person. Prizes are not convertible to cash.</li>
                        <li>A prize that is not claimed by the Winner after 60 days from the date when the notice
                            was emailed to the Winner’s registered email address shall be forfeited.</li>
                        <li>The Winner's acceptance of the Prize constitutes the Winner's grant to TFC.tv, ABS-CBN
                            and its subsidiaries and affiliates the right to use the Winner's name and/or likeness
                            in any and all media or platform, now existing or hereinafter developed, for promotion
                            of TFC.tv or any other products or services of ABS-CBN and its Subsidiaries and
                            Affiliates</li>
                        <li>Any and all taxes or levies which may be imposed in connection with the Prize shall
                            be for the sole account of the Winner.</li>
                        <li>In the event of a dispute as to the identity of the TFC.tv User, the authorized
                            account holder of the email address used to create the TFC.tv account will be deemed
                            to be the TFC.tv User. An "authorized account holder" of an email address is defined
                            as the natural person who is assigned to an email address by an Internet Access
                            provider, an on-line service provider, or other organization that is responsible
                            for assigning the email addresses for the domain associated with the submitted email
                            address.</li>
                        <li>TFC.tv reserves the right, at its sole discretion to cancel, modify or suspend the
                            Contest for any reason including but not limited to infection by computer virus,
                            technical failures or any other problems beyond the control of TFC.tv.</li>
                        <li>TFC.tv reserves the right at its sole discretion to disqualify any TFC.tv User who
                            tampers or attempts to tamper with the operation of TFC.tv website, violates official
                            rules or acts in an unsportsmanship or disruptive manner.</li>
                        <li>TFC.tv, ABS-CBN, its subsidiaries and affiliates, including their directors, officers,
                            agents, partners, and employees, shall not be held liable for the following: a.)
                            technical, hardware, software malfunctions of any kind; b.) lost or unavailable
                            network connections; c.) failed, incorrect, incomplete, inaccurate, garbled or delayed
                            electronic communications caused by the user or by any of the equipment or programming
                            associated with or utilized in this Contest; or d.) by any human error which may
                            occur in the processing of entries.</li>
                        <li>TFC.tv, ABS-CBN and its subsidiaries and affiliates, including their directors,
                            officers, agents, partners, and employees, shall be free and harmless from any and
                            against and all claims, damages, liabilities, costs and expenses, including attorney’s
                            fees, by the TFC.tv User or any third party due to or arising out of the TFC.tv
                            User's participation in the Contest.</li>
                    </ol>
                </div>
            </div>
            <div id="dsFeatureItems" class="hideElement">
                <div class="itemListBody">
                    <div class="wrapper">
                    </div>
                </div>
            </div>
            <div class="breakLarge">
            </div>
            <div class="clear">
            </div>
            <div class="breakLarge">
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="breakLarge">
        </div>
        <div id="user-comments">
            @*<div class="genericHeader">
                <div id="genericHeader_header">
                    <div id="headerTitle" class="sectionHeaderTitle">
                        User Comments
                    </div>
                    <div id="headerCategoryName" class="sectionHeader">
                    </div>
                </div>
            </div>*@
            <div class="itemListBody">
                <div class="wrapper">
                    <div id="ratings-and-review">
                        @Html.Partial("_EpisodesRatingsAndReviews", EpisodeModel)
                    </div>
                </div>
            </div>
        </div>
        <div class="clear">
        </div>
        <div class="breakLarge">
        </div>
    </div>
    </form>
</div>
<div id="not-available" class="hideElement">
    @Html.ImageBuilder(Url, "video-not-available-register-square.jpg")
</div>
<div id="not-entitled" class="hideElement">
    @Html.ImageBuilder(Url, "user-not-entitled-square.jpg")
</div>
<div id="no-mobile" class="hideElement">
    @Html.ImageBuilder(Url, "announcement-on-mobile.jpg")
</div>
@{if (!MyUtility.isUserLoggedIn())
  {
    <script type="text/javascript">
        var guest = 1;
    </script>
    <div id="subscribePromptcontainer_1" class="hideElement">
        <div id="subscribePrompt_1">
            <div>
                <a href="#" id="gw-signin">@Html.ImageBuilder(Url, "go-watch-signin.png")</a> <a href="@Url.Action("Register", "User")">@Html.ImageBuilder(Url, "go-watch-register.png")</a>
                <script type="text/javascript">
                    $('#gw-signin').live('click', function () {
                        $('#signin').click();
                        return false;
                    });
                </script>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $("#subscribePrompt_1").css("background", "url('@Html.ContentBuilder(Url, "content/images/GO-WATCH-THE-LIVE-STREAMING.jpg")')");
    </script>  
  }
}
@section StyleSheet {
    @Html.CssBuilder(Url, "comment.css")
    @Html.CssBuilder(Url, "clicktayo.css")
    @Html.CssBuilder(Url, "ratingsreviews-1.1.css")
    @Html.CssBuilder(Url, "prompt.css")
    <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri"/>
    <meta property="og:title" content="@HttpUtility.JavaScriptStringEncode(Model.Description)"/>
    <meta property="og:description" content="@HttpUtility.JavaScriptStringEncode(Model.Synopsis)"/>
    <meta property="og:type" content="Live Streaming" />
    <meta property="og:image" content="@src" />
    <meta property="og:site_name" content="TFC.tv" />
}
@section JScript{
    <script type='text/javascript' src='http://partner.googleadservices.com/gampad/google_service.js'>
    </script>
    <script type='text/javascript'>
        GS_googleAddAdSenseService("ca-pub-1805244726360577");
        GS_googleEnableAllServices();
    </script>
    <script type='text/javascript'>
        GA_googleAddSlot("ca-pub-1805244726360577", "TFCtv_KapamilyaChat_Leaderboard_728x90");
    </script>
    <script type='text/javascript'>
        GA_googleFetchAds();
    </script>
}
@section JScriptBottom{
    @Html.Partial("FlowPlayerPartial", true)
    @Html.JsBuilder(Url, "jquery.cycle.all.js")
    @Html.JsBuilder(Url, "jquery.timeago.js")
    @Html.JsBuilder(Url, "commentsGenerator.js")
    @Html.JsBuilder(Url, "featureItemsGenerator-1.2.js")
    @Html.JsBuilder(Url, "jquery.validate.min.js")
    <script type="text/javascript">
        var socializePluginUrl = '@Html.ContentBuilder(Url, "scripts/socialize.1.js")';        
    </script>
    <script type="text/javascript">
        var userActionURL = '@HttpContext.Current.Request.Url.AbsoluteUri';
        var playerContainer = 'playerContainer';        
        var label = '@trackingLabel';
        var eid = null;
        var sid = null;
        var playbackId = @Model.EpisodeId;
        var playbackType = 4; // Episode/Live Event
        var flow = {}; var config = {};               
    </script>
    <script type="text/javascript">
        var actionParams = {
            description: '@HttpUtility.JavaScriptStringEncode(Model.Synopsis)',
            title: '@HttpUtility.JavaScriptStringEncode(Model.Description)',
            url: userActionURL,
            actionname: "Read more",
            subtitle: '@GlobalConfig.baseUrl',
            src: '@src'
        };
        var action;
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var uri = '/Ajax/GetMedia/@LiveEventEpisodeId';
            $.ajax({
                url: uri
                    , dataType: 'json'
                    , success: function (data) {
                        if (data.errorCode == 0) {
                            $.getScript(playerJS).done(function () {
                                var akObj = { url: Afp };
                                var config = { container: playerContainer, playerSWF: playerSWF, expressInstallSWF: expressInstallSWF, playButtonURL: playButtonURL, logoURL: logoURL, controllerSWF: controllerSWF, csmaPluginSWF: csmaPluginSWF, csmaConfig: csmaConfig, apObj: akObj, scaling: 'fit', url: data.data.Url, categoryType: 'ClickTayoMV', label: label, sid: sid, eid: eid, isClip: false, trackerSWF: trackerSWF, trackerID: trackerID, userActionURL: userActionURL, uri: uri, time: false, ipadUrl: data.data.Url, allowShare: false, playbackType: playbackType, playbackId: playbackId, analyticsSWF: analyticsSWF };
                                flow.Player.Create(config);
                            });
                        }
                        else if (data.errorCode == 402)
                            $('#' + playerContainer).html($('#not-entitled').html());
                        else if (data.errorCode == -400)
                            $('#' + playerContainer).html($('#subscribePromptcontainer_1').html());
                        else if (data.errorCode == -705)
                            $('#' + playerContainer).html($('#no-mobile').html());
                        else
                            $('#' + playerContainer).html($('#not-available').html());
                    }
            });
        }); 
    </script>
    <script type="text/javascript">
        $('#mlink').click(function () {
            $('#dsFeatureItems').hide();
            $('#mechanics').show();
            return false;
        });
        $('#relvid').click(function () {
            $('#mechanics').hide();
            $('#dsFeatureItems').show();
            return false;
        });
    </script>
    <script type="text/javascript">
        var maxCount = @KapamilyaChatRelatedVideosMaxCount;
        var KapamilyaChatFeatureId = @KapamilyaChatFeatureId;
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function loadEpisodes(item) {
                $.ajax({
                    url: item.url
                    , dataType: 'json'
                    , beforeSend: function () {
                        $('#' + item.container + ' .itemListBody .wrapper').empty();
                        $('#' + item.container + ' .itemListBody .wrapper').html('<div class="breakStandard"></div><div class="white padLeftLarge">Loading videos...</div>');
                    }
                    , success: function (data) {
                        var list = new featureItem({
                            json_str: data, type: item.type, itemperslide: item.itemperslide, container: item.container, maxCount: maxCount, section: 'HaloHalo'
                        }).dynamicshortsblank();
                    }
                });
            }
            var item = { url: "/Ajax/GetListing/" + KapamilyaChatFeatureId, type: "video", itemperslide: 3, container: "dsFeatureItems" };
            loadEpisodes(item);
        });
    </script>
    <script type="text/javascript">
        // destroy!
        $(document).ready(function () {
            $('#chat-bar').remove();
        });
    </script>
}
