@{
    ViewBag.Title = "Terms And Conditions - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
    bool ShowAirTerms = false;
    try
    {
        if (ViewBag.ShowAirTerms != null)
        {
            ShowAirTerms = ViewBag.ShowAirTerms;
        }
    }
    catch (Exception) { }
}
<section class="page_pagebody termsCond_pagebody">
    <div class="container">    
        <h1 class="page_title clearfix">
            Terms And Conditions - TFC.tv</h1>
        <h2>
            TERMS AND CONDITIONS OF SUBSCRIPTION AND/OR USE</h2>
        <p>
            TFC.tv is an online content distribution service providing subscribers with audio-visual,
            audio, video and/or content streams of television shows, movies, music and other
            entertainment content, or clips or excerpts thereof, owned by or licensed to ABS-CBN
            Corporation, ABS-CBN Global Hungary Kft. (Luxembourg Branch) and their subsidiaries
            and affiliates ("the ABS-CBN Group" or the "Subsidiaries and Affiliates"). TFC.tv
            also allows subscribers to comment, rate, chat and use other interactivity tools.
            Users may also submit user generated content using the tools provided by TFC.tv.
            (collectively referred to as "Service").
        </p>
        <p>
            These Terms and Conditions of Subscription and/or Use ("Terms") govern the relationship
            between ABS-CBN Japan Inc. ("ABS-CBN", "us" or "we") as service provider and you
            as subscriber and/or user. Any reference to "we," "us," or "our" in the Terms refer
            to ABS-CBN Japan Inc. Any reference to "you" or "subscriber" or "user" refer to
            the person subscribing to or/and using TFC.tv.</p>
        <p>
            We may update the Terms from time to time without prior notice and your continued
            subscription and use of TFC.tv constitute your acceptance of the Terms, and any
            amendment or updates thereto. Unless otherwise specified, any new feature/s of TFC.tv
            shall be subject to the current Terms. Current versions, including recent updates,
            will be available for review on the TFC.tv website. Should you wish to discontinue
            the use of the Service at any time, you may opt out by following the instructions
            contained on the TFC.tv website.</p>
        <h2>
            REGISTRATION</h2>
        <p>
            Upon the acceptance of your full and proper registration with TFC.tv, you may avail
            of or subscribe to any of the subscription packages, programs, movies, or pay per
            view services and other TFC.tv products and/or services (the "TFC.tv Product/s").
            By registering to or using TFC.tv, you represent and warrant that you are of legal
            age and that you are capable of entering into and forming a binding contract with
            us. You also represent and warrant that you are not prohibited from availing the
            Service under the relevant laws of your country. You furthermore expressly warrant
            that you are entering into agreement for your personal use only.</p>
        <p>
            You may register with TFC.tv by using your existing account with social networks
            that we support. You may also register with TFC.tv directly.</p>
        <p>
            By using your existing social network to register with TFC.tv, you confirm that
            you have provided true, accurate and complete information about yourself in the
            social network you used. You also agree to update your information in the social
            network you used and to keep it true, accurate and complete. We have the right to
            suspend or terminate your account and/or to refuse future subscription if there
            is reasonable ground to believe that you have not provided true, accurate and complete
            information about yourself in the social network you used, or if you violate any
            of the Terms.</p>
        <p>
            By registering with TFC.tv directly, you agree to provide us true, accurate, and
            complete information about yourself when you fill up the TFC.tv Account Information
            and to update your information to keep it true, accurate, and complete. We have
            the right to suspend or terminate your account and/or to refuse future subscription
            if there is reasonable ground to believe that you have not provided true, accurate
            and complete information about yourself in the TFC.tv Account Information or in
            the event of your violation of any of the Terms detailed herein. You hereby expressly
            acknowledge that the Service and Products arising hereof are exclusively provided
            by ABS-CBN and may be altered or discontinued at any time at its sole discretion
            and with no notice to you.</p>
        <h2>
            PASSWORD AND ACCOUNT SECURITY</h2>
        <p>
            You agree to keep your username and password confidential. You assume full responsibility
            for all activities under your TFC.tv account. We will presume that you have performed
            all activities under your TFC.tv account and such activities are valid, unless you
            advise us otherwise. You also agree to inform us of any unauthorized use of your
            TFC.tv account by going to the <a href="@Url.Action("Index", "Help")">Help Center</a>
            and <a href="@Url.Action("ContactUs", "Home")">Contact Us</a> pages. In order to
            ensure that each account is being used by the registered intended user, your password
            may periodically be reset. In such event, you will be notified and required to update
            your account with a new password.</p>
        <p>
            You agree to indemnify and hold ABS-CBN, the ABS-CBN Group and Subsidiaries and
            Affiliates, their directors, officers, shareholders, agents, employees, or other
            partners, free and harmless from and against and all claims, damages, liabilities,
            suits, costs and expenses, including attorney's fees, arising from the unauthorized
            use of your TFC.tv account and password. Additionally, you hereby acknowledge that,
            in the event of your willful and/or intentional misuse, misappropriate, abuse, or
            otherwise prohibited use of your TFC.tv account results in damage to any ABS-CBN
            property(s)/materials, you may be held liable for all applicable civil and/or criminal
            penalties arising out of or otherwise related thereto.
        </p>
        <h2>
            PRIVACY POLICY AND USE OF PERSONAL INFORMATION</h2>
        <p>
            Your privacy is important to us. By agreeing to and accepting the Terms hereof,
            you acknowledge that certain personal information may be collected, transferred,
            stored, recorded, shared and used exclusively by ABS-CBN, the ABS-CBN Group and
            Subsidiaries and Affiliates. We are committed to safeguarding your personal information
            and will use all good faith efforts to ensure that it is secure.</p>
        <p>
            When you register with TFC.tv, we ask for your personal information such as your
            name, email address, city, state, and country. We also collect information about
            your transactions with us, including how you use our products and services. We also
            record information from your computer hardware and browser, including your IP address,
            cookie information, software and hardware attributes.</p>
        <p>
            We will not rent, sell, provide or share your personal information with other people
            or non-affiliated or non-related companies, except to trusted business partners
            and service providers. We will limit access to your personal information to employees,
            agents, and representatives who need to access your personal information in order
            to accomplish their functions. Furthermore, these employees, agents and representatives
            are obliged to keep your personal information confidential.</p>
        <p>
            We will not use or disclose sensitive personal information, such as race, religion,
            or political affiliations, without your explicit consent.
        </p>
        <p>
            Your full and proper registration authorizes ABS-CBN, the ABS-CBN Group and its
            Subsidiaries and Affiliates the express right to use your disclosed personal information
            as detailed herein. We may use your personal information for the following purposes:
            a) to provide you the Service; b) to market, promote and advertise the products,
            services, events, initiatives and activities of ABS-CBN, the ABS-CBN Group and its
            Subsidiaries and Affiliates; c) to customize ABS-CBN's, the ABS-CBN Group's and
            its Subsidiaries and Affiliates' advertising, promotional and marketing activities;
            d) to fulfill your requests for products and services; e) to conduct research, survey
            and perform statistical analyses of user behavior in order to measure relative consumer
            interest on various products, services and activities of ABS-CBN and its Subsidiaries
            and Affiliates; f) to inform advertisers or sponsors how many have responded to
            an advertisement or promotion; g) to promote and manage ABS-CBN's, the ABS-CBN Group's
            and its Subsidiaries and Affiliates' customer loyalty program/s; h) to pass on information
            to the relevant government agency or institution for fraud information; i) to investigate,
            prevent or take action regarding illegal activities, suspected fraud, situations
            involving potential threats to the physical safety of any person, violation of the
            Terms, or as otherwise required by law; j) to transfer information if the Service
            is acquired by another company; k) to transfer, move, copy, record store and use
            your personal information outside the country where you are subscribed to the Service;
            l) to be used as a basis for displaying targeted advertisements in the TFC.tv website;
            m) to respond to subpoenas, court orders or legal processes, or to establish or
            exercise ABS-CBN's rights or defend legal claims against ABS-CBN; and n) to contact
            you and communicate with you for any of the foregoing purposes.</p>
        <p>
            You agree that we may share and transfer your personal information with and to Athe
            ABS-CBN Group and Subsidiaries and Affiliates and that ABS-CBN, the ABS-CBN Group
            and its Subsidiaries and Affiliates may use your personal information for the foregoing
            purposes without further notice. You also agree to indemnify and hold ABS-CBN, the
            ABS-CBN Group and its Subsidiaries and Affiliates, their officers, agents, directors,
            stockholders and employees free and harmless from and against and all claims, damages,
            liabilities, costs and expenses, including attorney's fees, in connection with the
            permitted use of your personal information as detailed hereinabove.</p>
        <p>
            You also authorize our service provider to collect personal information that may
            be used to contract, identify or locate you. You also authorize our service provider
            to collect non-personal information that may include your IP address, browser type,
            your computer's operating system, what pages you view, what links you click, the
            amount of time you spend on certain pages and certain demographic information such
            as age and gender.</p>
        <p>
            If you have questions or if you prefer that we refrain from or limit the use of
            your personal information, please advise us by going to the <a href="@Url.Action("ContactUs", "Home")">
                Contact Us</a> page.
        </p>
        <p>
            We shall continue using your personal information for the foregoing purposes until
            and unless we receive your advice requesting us to refrain from or limit the use
            of your personal information.</p>
        <h2>
            PAYMENT</h2>
        <p>
            You may begin viewing our programs and content through TFC.tv once payment of the
            required fees in accordance with your chosen TFC.tv Product/s has been confirmed
            by our system. Payment for subscription to TFC.tv Product/s are payable in advance.
        </p>
        <p>
            You may pay for your chosen TFC.tv Product/s directly by using your credit card,
            Pay-pal account, E-Wallet or by purchasing and loading pre-paid cards. Payment by
            bank deposit is not allowed.</p>
        <p>
            Permitted payment methods are described in further detail below:</p>
        <ul>
            <li>a.) Credit Cards - You may use any major credit card to pay for your chosen TFC.tv
                Product/s provided credit card payment is available in your territory.</li>
            <li>b.) PayPal Account - By using your PayPal account, your credit card and/or bank
                account enrolled with PayPal will be charged for the payment of your chosen TFC.tv
                Product/s.</li>
            <li>c.) E-Wallet - Upon registration, TFC.tv will assign you an E-Wallet which you can
                use to load credits. You may load your E-Wallet by using our prepaid cards/ePINs or buying
                load credits using your credit card or PayPal account. You cannot use another E-Wallet
                to load credits to your E-Wallet.<br />
                <br />
                You may use the credits in your E-Wallet to pay for your own TFC.tv Product/s or
                to pay for the gift of TFC.tv Product/s that you will send to other TFC.tv subscriber/s.
                (Please refer to the "Wishlist and Gifting" section below).</li>
            <li>d.) Pre-paid cards - The pre-paid card may be purchased from ABS-CBN Offices and
                authorized TFC.tv distributors and dealers.</li>
        </ul>
        <h2>
            WISHLIST AND GIFTING</h2>
        <p>
            You may indicate the TFC.tv products you want to receive in your wishlist and you
            may also purchase for another TFC.tv subscriber any of the TFC.tv products in his/her
            wishlist subject to the conditions described below:</p>
        <p>
            In order to send a gift, you must be registered with TFC.tv and you must have any
            of the following: a.) You have enough credits in your TFC.tv E-wallet; b.) You have
            loaded a pre-paid card that matches the TFC.tv product you intend to give to recipient;
            c.) You have credit card and credit card payment is allowed in your region; or d.)
            You have a pay-pal account.</p>
        <p>
            In order to receive a gift, you must be registered with TFC.tv. You will receive
            the gift in a few minutes after TFC.tv confirmed with the sender that the TFC.tv
            product has been purchased and sent to you as a gift.</p>
        <p>
            The amount paid for the gifts cannot be refunded to the sender.</p>
        <p>
            If the gift is the same as the existing subscription package that recipient has,
            the gift will be considered as an extension of the current subscription. Existing
            Premium subscribers cannot receive Lite subscriptions as gifts. Likewise, existing
            Lite subscribers cannot receive Premium subscriptions as gifts.
        </p>
        <p>
            TFC.tv subscriptions cannot be sent as gifts to users who are in locations where
            the subscriptions are not available.
        </p>
        <p>
            For more information about the wishlist and gifting, kindly visit the <a href="@Url.Action("Index", "Help")">
                Help Center</a> page.</p>
        <h2>
            SUBSCRIPTION</h2>
        <p>
            The following are the subscription packages and the relevant subscription periods:</p>
        <div class="table-responsive">
            <!-- responsive table -->
            <table class="table">
                <tr>
                    <td>
                        <b>Premium Package</b>
                    </td>
                    <td>
                        <p>
                            Access to all of TFC's current programs and selected television classics, movies
                            and sports programs.</p>
                        <p>
                            Available subscription periods: ten (10) days, one (1) month, three (3) months,
                            twelve (12) months</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Lite Package<br>
                            (May not be available in some territories)</b>
                    </td>
                    <td>
                        <p>
                            Access to essential content from two line-ups of TFC's current programs</p>
                        <p>
                            Available subscription periods: one (1) month, three (3) months</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Movie Channel Package</b>
                    </td>
                    <td>
                        <p>
                            Access to extensive on-line library of blockbuster and classic movie titles</p>
                        <p>
                            Available subscription periods: one (1) month, three (3) months</p>
                    </td>
                </tr>
            </table>
        </div>
        <!-- END responsive table -->
        <p>
            You will cease to avail of the relevant subscription package upon expiration of
            the subscription period and non-renewal of your subscription thereto. You may renew
            your subscription at any time prior to or after the expiry date of your subscription.
            You may pay for the renewal of your subscription through your E-Wallet, pre-paid
            card, credit card or pay-pal account, if available in your territory.</p>
        <p>
            You may also upgrade your Lite Subscription Package to a Premium Subscription Package
            even before the expiration date of your Lite Subscription Package. In such case,
            the unconsumed days in your Lite Subscription Package will be converted into a pre-computed
            number of days that will be added to the period of your Premium Subscription Package.
            For more information on how to upgrade your Subscription Package please visit our
            <a href="@Url.Action("Index", "Help")">Help Center</a>.</p>
        <p>
            You are not allowed to downgrade your Premium Subscription Package to a Lite Subscription
            Package before the expiration date of the Premium Subscription Package.</p>
        <p>
            Any request for cancellation of subscription package shall be subject to approval
            of ABS-CBN at its sole discretion. If ABS-CBN approves the cancellation of your
            subscription package, an amount equivalent to the number days remaining in your
            subscription package (reckoned from date of approval of cancellation by ABS-CBN)
            multiplied by the subscription package daily rate and shall be refunded to you by
            reloading the amount of the refund to your E-wallet, or by returning the amount
            of the refund to your credit card or pay-pal account, at ABS-CBN's sole discretion.
            You cannot request to cancel a subscription to a retail product.
        </p>
        <p>
            You are allowed to upgrade but you cannot downgrade your current subscription package.
            Your subscription package is not transferrable.</p>
        <p>
            We reserve the right at any time to modify, suspend, discontinue or terminate, temporarily
            or permanently your TFC.tv account. A notice advising you of the modification, suspension
            or termination of your TFC.tv account will be sent to your registered email address.
            In case of suspension of your TFC.tv account, your subscription expiry date will
            be adjusted upon re-activation of your subscription, based on the number of days
            that your subscription was suspended. In case of termination of your TFC.tv account,
            you will not be entitled to any refund. You acknowledge that ABS-CBN will not be
            liable to you or to any third party for any claim, loss or liability arising from
            or in connection with the modification, suspension or discontinuance of your TFC.tv
            account.
        </p>
        <h2>
            AUTOMATIC RENEWAL OF SUBSCRIPTION</h2>
        <p>
            By selecting credit card or pay pal account as mode of payment, you agree that unless you opt-out from Automatic Renewal, we shall automatically renew your subscription for the same subscription period and under the same terms and condition under your then current subscription and charge the subscription fee for the renewed subscription to the same credit card or pay pal account that you used to pay for your then current subscription.  We shall send an email to your registered email address to confirm that your credit card or pay pal account is enrolled to the automatic renewal of your subscription.
        </p>
        <p>
            Please note that we shall continue to automatically renew your subscription at the end of the relevant subscription period and charge the subscription fee for the succeeding subscription to your credit card or pay pal account until and unless you cancel Automatic Renewal.</p>
        <h2>OPT-OUT OF AUTOMATIC RENEWAL</h2>
        <p>You may opt-out or cancel Automatic Renewal by visiting the Edit Your Profile Page and ticking the box on removal of Automatic Renewal  <span style="text-decoration:underline;">at least three (3) days prior to the last day of your existing subscription</span>. If you cancel your Automatic Renewal less than 3 days prior to the last day of your existing subscription, your subscription shall be renewed for another subscription period.</p>
        <h2>
            MARKS AND LOGOS</h2>
        <p>
            You acknowledge that ABS-CBN, the ABS-CBN Group and/or its Subsidiaries and Affiliates
            owns and/or has the exclusive right to use TFC.tv mark, TFC logo, ABS-CBN logo and
            other marks and logos related to TFC.tv and the programs and content therein (collectively
            the "ABS-CBN marks"). You agree not to use or display any ABS-CBN mark/s in any
            manner, and/or not to assert any right or claim thereto or ownership thereof.</p>
        <h2>
            TFC.tv PROGRAMS AND CONTENT</h2>
        <p>
            You may only access the Service and view TFC.tv Products personally and for a non-commercial
            purpose ("Right to Use"). You further acknowledge that the Service and TFC.tv Products
            are the sole exclusive property of ABS-CBN, the ABS-CBN Group and/or its Subsidiaries
            and Affiliates. The Service and TFC.tv Products are protected by copyrights, trademarks,
            service marks, patent or other proprietary rights and all applicable local, federal
            and international laws. Your subscription and Right to Use does not grant, convey
            or otherwise transfer any license, sublicense or ownership of any such Products.
            You agree not to sell/resell, digitally stream, broadcast or disseminate, modify,
            rent, lease, distribute or create derivative works based on TFC.tv products or retain
            any copy/duplicate of any Products subsequent to the termination of your subscription,
            in whole or in part, absent the prior express written authorization of ABS-CBN.
            The Right to Use is expressly limited to each properly registered and subscribed
            user only and may not be assigned or transferred to any third party.
        </p>
        <p>
            If you access any TFC.tv Product with adult or mature content, you represent that
            you are of legal age of majority in the applicable jurisdiction to access and view
            adult or mature content. You further warrant that you shall be responsible for ensuring
            that all persons viewing or accessing such the TFC.tv Products under your Right
            of Use and subscription will be of legal age as well.</p>
        <h2>
            USER CONTRIBUTIONS, REVIEWS AND COMMENTS</h2>
        <p>
            You may publish, transmit, submit, tag or post (collectively, "Post") reviews and
            comments that are directly relevant to TFC.TV. You may also chat or send electronic
            communications (collectively, "Chat") to other TFC.TV users or subscribers. Posts
            will be deemed user contributed materials and shall be subject to the policies regarding
            <i>User Posted Material</i> detailed hereof.
        </p>
        <p>
            You agree not to Post, Chat or otherwise make available any of the following: a.)
            harsh, profane indecent, offensive or discriminatory language; b.) illegal, obscene,
            defamatory or objectionable materials; c.) personal information, URLs, phone numbers,
            contact information, home, office, mailing or e-mail addresses; d.) personal attacks
            on another person or entity; e.) unauthorized advertising or promotional materials
            or any form of solicitation; f.) software viruses or any other computer code, files
            or programs designed to interrupt, destroy or limit the functionality of any computer
            software or computer hardware or telecommunication equipment. Violation of the foregoing
            will result in the immediate suspension or termination of your account. Additionally,
            in the event of any injuries or damages resulting from such violation to either
            ABS-CBN, its affiliates or other registered third party TFC.TV users, you may be
            subject to all applicable civil and/or criminal penalties.</p>
        <p>
            You further agree not to collect, share or store personal data about other subscribers
            or users. You also agree not to claim the identity of or misrepresent another person.
        </p>
        <p>
            You understand and agree that ABS-CBN will store the materials or communication
            subject of your Posts or Chats on its servers. Such materials will be subject to
            the Privacy Policy detailed hereinabove or as posted on the TFC.tv website.</p>
        <h2>
            USER POSTED MATERIAL</h2>
        <p>
            You understand and agree that all information, data files, written text, Post(s)
            or other images (collectively "Material"), which are made available by registered
            subscriber/s or users, past and present, through TFC.tv are the sole responsibility
            of the person where such Material came from.
        </p>
        <p>
            ABS-CBN does not endorse any Material posted by the subscribers and/or users and
            such Material does not reflect the opinion or policies of ABS-CBN and its Subsidiaries
            and Affiliates, nor of their employees, directors, shareholders, officers, agents,
            or representatives. You agree to waive any legal or equitable right or remedy you
            may have against ABS-CBN and its Subsidiaries and Affiliates, their employees, directors,
            shareholders, officers, agents, or representatives with respect to any Material
            posted by a subscriber or user on TFC.tv.</p>
        <p>
            By Posting a Material on TFC.tv, you represent and warrant that you own the Material
            posted or that you have obtained permission from the rightful owner of the Material
            to Post, use or display it on TFC.tv. You also represent and warrant that the Posting
            of the Material does not violate the right of any party or entity, including but
            not limited to invasion of privacy or infringement of intellectual property rights.
            You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates, their
            employees, directors, shareholders, officers, agents, or representatives, free and
            harmless from and against any claim, suit, liability or damages which may arise
            out of or in connection with any Material which you Post on TFC.tv. You also grant
            ABS-CBN and its Subsidiaries and Affiliates a perpetual, irrevocable, worldwide,
            royalty-free, and non-exclusive license to use, reproduce, adapt, modify, translate,
            publish and distribute the Material, in whole or in part, you Post or make the same
            available on TFC.tv. or any platforms or channels or ABS-CBN, its Subsidiaries and
            Affiliates.
        </p>
        <p>
            We reserve the right, but shall have no obligation, to pre-screen, review, edit,
            modify, flag, refuse or remove any Material you Post or make available in TFC.tv
            upon our reasonable belief that such Material is offensive, indecent, objectionable,
            infringes the right of a person or entity, or for any reason whatsoever at any time.</p>
        <p>
            In using TFC.tv, you may be exposed to Material made available by other subscribers
            or users that you may find offensive, indecent or objectionable. In such case, please
            advise us of such Material by going to the <a href="@Url.Action("ContactUs", "Home")">
                Contact Us</a> page. However, you hereby expressly acknowledge and accept that
            certain Material may be posted or contained on TFC.TV that may be in opposition
            to your personal beliefs, opinions or taste, but shall nonetheless be lawfully permitted.
        </p>
        <h2>
            ADVERTISEMENTS AND LINKS</h2>
        <p>
            TFC.TV may show advertisements and communications from ABS-CBN, and its Subsidiaries
            and Affiliates. Unless otherwise specified, no advertisement, communication or information
            shall be deemed as a binding offer from ABS-CBN, or its Subsidiaries and Affiliates.
            Furthermore, ABS-CBN makes no warranty, representation(s) or endorsement of any
            goods or services offered thereof. Instead, the advertisement, communication or
            information may be considered as an invitation for you to purchase products of ABS-CBN
            and its Subsidiaries and Affiliates or to engage or avail of their services.</p>
        <p>
            TFC.tv may also show advertisements and communications from advertisers other than
            ABS-CBN ("Other Advertisers"). You agree that your correspondence or dealings with
            the Other Advertisers are solely between you and the Other Advertisers. You agree
            and acknowledge that ABS-CBN shall not be liable for, and that you shall hold ABS-CBN
            and its Subsidiaries free and harmless from, any loss, claim, suit, proceedings
            or damage in connection with your correspondence or dealings with the Other Advertisers.
        </p>
        <p>
            TFC.tv may also provide links to other internet sites. You agree and acknowledge
            that ABS-CBN shall not be responsible or liable, directly or indirectly, for any
            damage or loss caused by your use of any content, goods or services available in
            other internet sites. No warranty, implied or express, is offered by ABS-CBN or
            its affiliates as to any goods or services provided by its advertisers.</p>
        <h2>
            SOCIAL MEDIA SITES LINK</h2>
        <p>
            You have the option to connect your TFC.tv account to your Facebook, Twitter or
            other social media account (collectively "Social Media Accounts"). In case you select
            this option, all of your activities in your TFC.tv account will be posted automatically
            to your Social Media Accounts. Please note that only one account for each type of
            social media can be connected to your TFC.tv account.
        </p>
        <p>
            We encourage you to review your Social Media Accounts' Privacy Settings and Privacy
            Policy so that you can understand how Facebook, Twitter and other social media collect,
            use and share your information. We are not responsible for the information used,
            collected or shared by Facebook, Twitter and other social media.</p>
        <p>
            You may disconnect your TFC.tv account from your Social Media Accounts by modifying
            your TFC.tv account profile.</p>
        <h2>
            DISCLAIMER</h2>
        <p>
            We disclaim any representations and warranties, including without limitation, the
            implied warranties of merchantability and fitness for a particular purpose. You
            agree and acknowledge that we shall have absolutely no liability in connection with
            the provision of the Service or your subscription to the TFC.tv Product/s including,
            but not limited to, any liability for damage to your computer hardware, data, information,
            materials and business resulting from your use of the Service.</p>
        <p>
            Insofar as Social Media Accounts are dependent upon the third party social media
            website(s) and application(s) companies, ABS-CBN and its affiliates make no warranty,
            express or implied, as to the compatibility, integration and/or functional compatibility
            of your TFC.tv account and such Social Media Accounts.</p>
        <p>
            You agree and acknowledge that we make no warranty, representation or guarantee
            as to the content, sequence, timeliness, accuracy or completeness of the Service
            or that the Service will be uninterrupted or error free or that any defects in the
            Service can be corrected. You agree and acknowledge that we shall not be liable
            for any direct, indirect, incidental, special, consequential or exemplary damages,
            including but not limited to, damages for lost profits, goodwill, use, data or other
            intangible losses (even if we have been advised of the possibility of such damages),
            resulting from: (1) your use or your inability to use the Service; (ii) the cost
            of procurement of substitute goods and services resulting from any goods, data,
            information or services purchased or obtained or messages received or transactions
            entered into through or from the Service; or (iii) any other matter relating to
            the Service.</p>
        <h2>
            INDEMNITY</h2>
        <p>
            You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates and their
            directors, officers, agents, or other partners, and employees, free and harmless
            from and against and all claims, damages, liabilities, costs and expenses, including
            attorney's fees, made by any third party due to or arising out of your use of the
            Service, your connection to the Service, your subscription to the TFC.tv Product/s,
            your use of the facilities of the Service, your violation of the Terms, your violation
            of the rights of any person or entity, or your violation of any applicable laws
        </p>
        <h2>
            MISCELLANEOUS</h2>
        <p>
            The Laws of Japan shall govern these Terms and our relationship as service provider
            and subscriber without regard to conflict of law provisions.
        </p>
        <p>
            Our failure to exercise or enforce any right or provision of the Terms shall not
            constitute a waiver of such right or provision. If any provision of the Terms is
            found by a court of competent jurisdiction to be invalid, the parties nevertheless
            agree that the court should endeavor to give effect to the parties' intentions as
            reflected in the provision, and the other provisions of the Terms remain in full
            force and effect.</p>
        <p>
            You agree that regardless of any statute or law to the contrary, any claim or cause
            of action arising out of or related to use of the Service or the Terms must be filed
            within one (1) year after such claim or cause of action arose or be forever barred.</p>
        <p>
            The section titles in the Terms are for convenience and have no legal or contractual
            effect.</p>
        <p>
            For more information on the system requirements of TFC.tv, please visit the <a href="@Url.Action("Index", "Help")">
                Help Center</a>.</p>
        <p>
            If you have any questions or comments, please go to the <a href="@Url.Action("Index", "Help")">
                Help Center</a> page or to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
            page.</p>
    </div>
    <!-- END container -->
     @{if (ShowAirTerms)
       { 
        <!-- Watch Now -->
        <div class="container">
        <a name="watchnow"></a>
            <h1 class="page_title clearfix">
                TERMS AND CONDITIONS OF USE OF WATCH NOW</h1>
            <h2>
                Description of Watch Now</h2>
            <p>
                Watch Now is a twenty-four (24) hour channel with a three(3)-hour programming grid
                replayed eight (8) times within a period of twenty-four (24) hours. It is accessible
                to and viewable by signed-in TFC.tv registered users in Hong Kong who have no active
                paid subscription to TFC.tv ("Eligible User" / "Eligible Users").
            </p>
            <p>
                "No active paid subscription to TFC.tv" means either of the following:
                <br />
                a. A TFC.tv registered user with the free trial entitlement given upon registration;
                or
                <br />
                b. A TFC.tv registered user with no active paid entitlement. This can be a user
                that has an expired free trial entitlement, or an expired subscription package,
                program/s, movie/s or pay per view service ("TFC.tv Product/s").
            </p>
            <p>
                A TFC.tv user who is not yet registered, or although registered, is not signed in,should
                first register and/or sign in before he/she can access and view the Watch Now without
                interruptions.</p>
            <p>
                The Eligible User can access the daily programming guide of Watch Now so he can
                see the programs that are viewable for the day by clicking the button within the
                page.</p>
            <h2>
                How to Access and View Watch Now
            </h2>
            <p>
                Once an Eligible User goes to the TFC.tv website (<a href="http://tfc.tv/">TFC.tv</a>)
                on his/her desktop or mobile browser, the Eligible User will land on the Watch Now
                page. He/She will be able to watch the video/s on Watch Now for three (3) minutes
                only, after which he/she will be asked to register to TFC.tv, if he/she has not
                registered yet. Registration to TFC.tv may be done by entering one’s email address
                and password or by linking one’s social network account (Please see Terms and Conditions
                of Subscription and/or Use on the Home Page of TFC.tv). Without registering to TFC.tv,
                the Eligible User will only be able to access Watch Now for three (3) minutes each
                time, and he/she will be asked to register to TFC.tv at the end of each three-minute
                access.</p>
            <p>
                Upon registration to TFC.tv, the TFC.tv user becomes entitled to his/her seven-day
                free trial of TFC.tv, and becomes an Eligible User of Watch Now.</p>
            <p>
                At the end of the TFC.tv user’s entitlement to free trial, if he/she subscribes
                to any Paid Content on TFC.tv, he/she ceases to be an Eligible User of Watch Now.
            </p>
            <p>
                Paid Content refers to programs, movies, clips and other content, whether in a subscription
                package or retail subscription that the customer purchases on TFC.tv, whether from
                the Watch Now page/s or from the other web pages of TFC.tv. Paid Content is accessible
                by scrolling down the Menu found on the top portion of the Homepage. and clicking
                on the categories found on the Menu namely: Shows, Movies, News and Live. Each category
                has various genres from which the customer may choose from.</p>
            <h2>
                User Contributions, Reviews and Comments</h2>
            <p>
                You may publish, transmit, submit, tag or post (collectively, "Post") reviews and
                comments that are directly relevant to Watch Now. Posts will be deemed user contributed
                materials and shall be subject to the policies regarding User Posted Material detailed
                hereof.</p>
            <p>
                You agree not to Post or otherwise make available any of the following: a) harsh,
                profane, indecent, offensive or discriminatory language; b) illegal, obscene, defamatory
                or objectionable materials; c) personal information, URLs, phone numbers, contact
                information, home, office, mailing or e-mail addresses; d) personal attacks on another
                person or entity; e) unauthorized advertising or promotional materials or any form
                of solicitation; f) software viruses or any other computer code, files or programs
                designed to interrupt, destroy or limit the functionality of any computer software
                or computer hardware or telecommunication equipment. Violation of the foregoing
                will result in the immediate suspension or termination of your account. Additionally,
                in the event of any injuries or damages resulting from such violation to either
                ABS-CBN, its affiliates or other registered third party Watch Now users, you may
                be subject to all applicable civil and/or criminal penalties.</p>
            <p>
                You further agree not to collect, share or store personal data about other users.
                You also agree not to claim the identity of or misrepresent another person.</p>
            <p>
                You understand and agree that ABS-CBN will store the materials or communication
                subject of your Posts on its servers. Such materials will be subject to the Privacy
                Policy detailed hereinabove or as posted on the Watch Now page.</p>
            <h2>
                User Posted Material</h2>
            <p>
                You understand and agree that all information, data files, written text, Post/s
                or other images (collectively, "Material"), which are made available by registered
                subscriber/s or users, past and present, through Watch Now are the sole responsibility
                of the person where such Material came from.</p>
            <p>
                ABS-CBN does not endorse any Material posted by the subscribers and/or users and
                such Material does not reflect the opinion or policies of ABS-CBN and its Subsidiaries
                and Affiliates, nor of their employees, directors, shareholders, officers, agents,
                or representatives. You agree to waive any legal or equitable right or remedy you
                may have against ABS-CBN and its Subsidiaries and Affiliates, their employees, directors,
                shareholders, officers, agents, or representatives with respect to any Material
                posted by a subscriber or user on Watch Now.</p>
            <p>
                By posting a Material on Watch Now, you represent and warrant that you own the Material
                posted or that you have obtained permission from the rightful owner of the Material
                to Post, use or display it on Watch Now. You also represent and warrant that the
                Posting of the Material does not violate the right of any party or entity, including
                but not limited to invasion of privacy or infringement of intellectual property
                rights. You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates,
                their employees, directors, shareholders, officers, agents or representatives, free
                and harmless from and against any claim, suit, liability or damages which may arise
                out of or in connection with any material which you Post on Watch Now. You also
                grant ABS-CBN and its Subsidiaries and Affiliates a perpetual, irrevocable, worldwide,
                royalty-free, and non-exclusive license to use, reproduce, adapt, modify, translate,
                publish and distribute the Material, in whole or in part, you Post or make the same
                available on Watch Now or any platforms or channels or ABS-CBN, its Subsidiaries
                and Affiliates.</p>
            <p>
                We reserve the right, but shall have no obligation, to pre-screen, review, edit,
                modify, flag, refuse or remove any Material you Post or make available in Watch
                Now upon our reasonable belief that such Material is offensive, indecent, objectionable,
                infringes the right of a person or entity, or for any reason whatsoever at any time.</p>
            <p>
                In using Watch Now, you may be exposed to Material made available by other users
                that you may find offensive, indecent or objectionable. In such case, please advise
                us of such Material by going to the Contact Us page. However, you hereby expressly
                acknowledge and accept that certain Material may be posted or contained on Watch
                Now that may be in opposition to your personal beliefs, opinions or taste, but shall
                nonetheless be lawfully permitted.</p>
            <h2>
                Advertisements and Links</h2>
            <p>
                Watch Now may show advertisements and communications from ABS-CBN, and its Subsidiaries
                and Affiliates. Unless otherwise specified, no advertisement, communication, or
                information shall be deemed as a binding offer from ABS-CBN, or its Subsidiaries
                and Affiliates. Furthermore, ABS-CBN makes no warranty, representation/s or endorsement
                of any goods or services offered thereof. Instead, the advertisement, communication
                or information may be considered as an invitation for you to purchase products of
                ABS-CBN and its Subsidiaries and Affiliates or to engage or avail of their services.</p>
            <p>
                Watch Now may also show advertisements and communications from advertisers other
                than ABS-CBN ("Other Advertisers"). You agree that your correspondence or dealings
                with the Other Advertisers are solely between you and the Other Advertisers. You
                agree and acknowledge that ABS-CBN shall not be liable for, and that you shall hold
                ABS-CBN and its Subsidiaries free and harmless from any loss, claim, suit, proceedings
                or damage in connection with your correspondence or dealins with the Other Advertisers.</p>
            <p>
                Watch Now may also provide links to other internet sites. You agree and acknowledge
                that ABS-CBN shall not be responsible or liable, directly or indirectly, for any
                damage or loss caused by your use of any content, goods or services available in
                other internet sites. No warranty, implied or express, is offered by ABS-CBN or
                its affiliates as to any goods or services provided by its advertisers.</p>
            <h2>
                Disclaimer</h2>
            <p>
                We disclaim any representations and warranties, including without limitation, the
                implied warranties of merchantability and fitness for a particular purpose. You
                agree and acknowledge that we shall have absolutely no liability in connection with
                the provision of the services for Watch Now including, but not limited to, any liability
                for damage to your computer hardware, data, information, materials and business
                resulting from your use of Watch Now.</p>
            <p>
                You agree and acknowledge that we make no warranty, representation or guarantee
                as to the content, sequence, timeliness, accuracy or completeness of Watch Now or
                that Watch Now will be uninterrupted or error free or that any defects in Watch
                Now can be corrected. You agree and acknowledge that we shall not be liable for
                any direct, indirect, incidental, special, consequential or exemplary damages, including
                but not limited to, damages for lost profits, goodwill, use, data or other intangible
                losses (even if we have been advised of the possibility of such damages), resulting
                from: (1) your use or your inability to use Watch Now; (2) the cost of procurement
                of substitute goods and services resulting from any goods, data, information or
                services purchased or obtained or messages received or transactions entered into
                through or from Watch Now, or (3) any other matter relating to Watch Now</p>
            <h2>
                Indemnity</h2>
            <p>
                You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates and their
                directors, officers, agents, or other partners, and employees, free and harmless
                from and against any and all claims, damages, liabilities, costs and expenses, including
                attorney’s fees, made by any third party due to or arising out of your use of Watch
                Now, your connection to Watch Now, your use of the facilities of Watch Now, your
                violation of the Terms, your violation of the rights of any person or entity, or
                your violation of any applicable laws.</p>
            <h2>
                Miscellaneous</h2>
            <p>
                Our failure to exercise or enforce any right or provision of the Terms shall not
                constitute a waiver of such right or provision. If any provision of the Terms is
                found by a court of competent jurisdiction to be invalid, the parties nevertheless
                agree that the court should endeavor to give effect to the parties’ intentions as
                reflected in the provision, and the other provisions of the Terms remain in full
                force and effect.</p>
            <p>
                You agree that regardless of any statute or law to the contrary, any claim or cause
                of action arising out of or related to use of Watch Now must be filed within one
                (1) year after such claim or cause of action arose or be forever barred.</p>
            <p>
                The section titles in the Terms are for convenience and have no legal or contractual
                effect.</p>
            <p>
                For more information on the system requirements of Watch Now, please visit the <a href="@Url.Action("Index", "Help")">
                    Help Center</a>.</p>
            <p>
                If you have any questions or comments, please go to the <a href="@Url.Action("Index", "Help")">
                    Help Center</a> or to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                page.</p>
        </div>  
       }      
    }
</section>
<!-- END Terms & contitions page body -->
