@{
    ViewBag.Title = "Terms And Conditions TFC Everywhere - TFC.tv";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    @ViewBag.Title</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <div id="terms_bodyContainer">
            <div class="whitetext">
                <h3>
                    TERMS AND CONDITIONS FOR AVAILMENT AND/OR TERMS OF USE</h3>
                <table>
                    <tr>
                        <td>
                            <p>
                                TFC Everywhere is a feature of TFC premium subscription package on Direct-To-Home
                                ("DTH") service and on Internet Protocol TV ("IPTV") (the "TFC Premium Subscription")
                                which provides free online access and viewing of select digitized streaming or on-demand
                                premium TFC channels and programs such as movies, television shows, music videos,
                                sporting events, news events and other video content which are available on their
                                TFC Premium Subscription (the "Content").</p>
                        </td>
                    </tr>
                </table>
                <p>
                    The Content may be accessed and viewed on certain web pages of TFC.tv (the online
                    platform of TFC) exclusively dedicated to TFC Everywhere.</p>
                <p>
                    These Terms and Conditions for Availment and/or Terms of Use ("Terms") govern the
                    relationship between us as service provider and you as user. Any reference to "we,"
                    "us," or "our" in the Terms refer to the relevant ABS-CBN company with which you
                    have an existing TFC Premium Subscription (either in IPTV or DTH) ("ABS-CBN"). Any
                    reference to "you" or "user" refers to the person eligible to access TFC Everywhere
                    under these Terms ("User").</p>
                <p>
                    We may update these Terms from time to time without prior notice and your continued
                    use of TFC Everywhere constitute your acceptance of these Terms, and any amendment
                    or updates thereto. Unless otherwise specified, any enhancements on TFC Everywhere
                    shall be subject to the current Terms. Should you wish to discontinue your use of
                    and access to TFC Everywhere at any time, you may advise us by going to the @Html.ActionLink("Contact Us", "ContactUs", "Home")
                    page</p>
                <h3>
                    AVAILABILITY & ACCESS</h3>
                <p>
                    <b>Eligibility</b>: All Active Subscribers of TFC Premium Subscription on Internet
                    Protocol TV ("IPTV") of ABS-CBN International, ABS-CBN Canada ULC, ABS-CBN Europe
                    Ltd., ABS-CBN Middle East FZ-LLC, ABS-CBN Japan, Inc., or ABS-CBN Australia Pty.
                    Ltd. and of the TFC Premium Subscription of the Direct-To-Home ("DTH") service of
                    ABS-CBN Europe, ABS-CBN Middle East FZ-LLC or ABS-CBN Australia Pty. Ltd. (each
                    and collectively, " TFC Premium Subscriber/s") may avail of TFC Everywhere by registration
                    in accordance with these Terms.
                </p>
                <p>
                    An Active Subscriber is one who (i) has an existing TFC Premium Subscription with
                    ABS-CBN International, ABS-CBN Canada ULC, ABS-CBN Europe Ltd., ABS-CBN Middle East
                    FZ-LLC, ABS-CBN Japan, Inc., or ABS-CBN Australia Pty. Ltd., and (ii) with no due
                    and unpaid subscription fees at the time of availment.
                </p>
                <p>
                    <b>Availability.</b>You may avail of and access TFC Everywhere only in the territory
                    where you availed of and subscribed to your TFC Premium Subscription, i.e., either
                    only in the United States, Canada, Europe, Japan, Australia or the Middle East,
                    as the case may be (each referred to as "Territory or "Your Territory").
                </p>
                <p>
                    You understand, acknowledge and agree that TFC Everywhere is a feature made available
                    by ABS-CBN at sole option and that the subscription fee which you pay for your TFC
                    Premium Subscription does not cover or include, nor is a consideration for, your
                    access or continued access to TFC Everywhere, As such, ABS-CBN has no obligation
                    to make available or to continue making TFC Everywhere available to you, and it
                    may, at any time disapprove, revoke modify, discontinue, suspend, cancel or terminate
                    your access to TFC Everywhere, or modify, discontinue, suspend, cancel or terminate
                    TFC Everywhere, without incurring any liability to you.</p>
                <p>
                    <b>Available Content</b>: : ABS-CBN reserves the right to determine the Content
                    which shall be available for TFC Everywhere, including among others, the period
                    and duration during which such Content shall be available on TFC Everywhere. You
                    agree and understand that <b>not all</b> content or programs available on your TFC
                    Premium Subscription shall necessarily be available on TFC Everywhere, and ABS-CBN
                    shall have no obligation to make any such program or content available on TFC Everywhere.</p>
                <p>
                    <b>Access</b></p>
                <ol>
                    <li><b>Device</b> You may not be able to avail of or access all components of TFC Everywhere
                        or enjoy its maximum capability, including, without limitation, certain Content,
                        viewing and access to high-quality video, unless the <span style="text-decoration: underline;">
                            personal computer, gaming device, tablet , mobile device or other digital device
                            (each a "Digital Device")</span> you use to access TFC Everywhere and your Internet
                        connection satisfy TFC Everywhere's
                        @Html.ActionLink("Minimum Technical Requirements", "Help", "Question", new { id = 1054 }, null).
                        ABS-CBN may modify or change such requirements from time to time at its sole discretion.
                        Unless otherwise specified by us, you are solely responsible for updating or maintaining
                        your Digital Device and Internet connection as necessary to meet such requirements.</li>
                    <li><b>Single Access and Viewing.</b>You may not be able to do simultaneous access of
                        TFC Everywhere using different browsers and devices.</li>
                    <li><b>Package or Content Access.</b>Your access to Content on TFC Everywhere will generally
                        follow the current content package offering on your existing TFC Premium Subscription,
                        except for some Content <span style="text-decoration: underline;">which cannot be made
                            available on TFC Everywhere due to rights limitations.</span></li></ol>
                <h3>
                    REGISTRATION, ACCOUNT AND PASSWORD</h3>
                <p>
                    You may avail of TFC Everywhere by <a href="/TFCEverywhere">Registering</a> , or
                    (ii) by linking your existing social network account to TFC Everywhere.
                </p>
                <p>
                    You may register at TFC Everywhere by providing your Email Address, Password, First
                    Name, Last Name, City, State and Country of residence on this registration page.
                    The last name you enter on the registration page should be the same as the last
                    name indicated on your TFC DTH or IPTV account.</p>
                <p>
                    You may also register by using your existing social network account (i.e. Facebook,
                    Google, Twitter or Yahoo) (the "Social Network Account") to TFC Everywhere. Just
                    select on the relevant registration page the Social Network account you want to
                    use for TFC Everywhere registration and provide your Social Network ID and password
                    and select the sign-in button.</p>
                <p>
                    By registering on the TFC Everywhere Website, you agree that the information you
                    supply during the registration process described above are accurate and complete
                    information about yourself, and that you will not register under the name of, nor
                    use TFC Everywhere under the name of, another person. You confirm that you are the
                    rightful TFC Premium Subscriber who is eligible under these Terms to use TFC Everywhere.
                    You will be responsible for preserving the confidentiality of your password and
                    will notify us immediately of any known or suspected unauthorized use of your account
                    and agree to take such reasonable steps as are necessary to prevent any reoccurrence
                    of such event. If at any time you have forgotten both your user name and password
                    and we are otherwise unable to verify your identity, then we may take any action
                    that we deem appropriate, including, without limitation, deleting your account</p>
                <p>
                    By using your existing Social Network Account to register and claim your TFC Everywhere,
                    you confirm that you have provided true, accurate and complete information about
                    yourself in the Social Network Account you used. You also agree to update your information
                    in the Social Network you used and to keep it true, accurate and complete. We have
                    the right to suspend or terminate your account if there is reasonable ground to
                    believe that you have not provided true, accurate and complete information about
                    yourself in the social network you used, or if you violate any of the Terms.</p>
                <p>
                    By registering directly or by using your existing Social Network Account to register
                    with TFC Everywhere, you represent and warrant that you are of legal age and that
                    you are capable of entering into and forming a binding contract with us. You also
                    represent and warrant that you are not prohibited from availing of TFC Everywhere
                    under the relevant laws of your country. You furthermore expressly warrant that
                    you are entering into agreement for your personal use only.</p>
                <p>
                    You agree to indemnify and hold ABS-CBN and its Subsidiaries and Affiliates, their
                    directors, officers, shareholders, agents, employees, or other partners, free and
                    harmless from and against and all claims, damages, liabilities, suits, costs and
                    expenses, including attorney's fees, arising from the unauthorized use of your TFC
                    Everywhere account and password. Additionally, you hereby acknowledge that, in the
                    event of your willful and/or intentional misuse, misappropriate, abuse, or otherwise
                    prohibited use of your TFC Everywhere account results in damage to any ABS-CBN property(s)/materials,
                    you may be held liable for all applicable civil and/or criminal penalties arising
                    out of or otherwise related thereto.</p>
                <h3>
                    ACCOUNT STATUS</h3>
                <p>
                    Since TFC Everywhere is a benefit given to <b>TFC Premium Subscribers</b>, your
                    access to TFC Everywhere is co-terminus with, and will follow the status of your
                    TFC Premium Subscription, without prejudice to ABS-CBN's right at any time to modify,
                    suspend or cancel your access thereto for any or no reason, or to modify, suspend,
                    cancel or discontinue TFC Everywhere.</p>
                <ul>
                    <li><b>Downgrade</b><ul>
                        <li>Should you downgrade or terminate, your TFC Premium Subscription, your access to
                            TFC Everywhere will be automatically blocked.</li></ul>
                    </li>
                    <li><b>De-authorization, Cancellation or termination of your TFC Premium Subscription</b><ul>
                        <li>If your TFC Premium Subscription is terminated, cancelled or de-authorized, for
                            whatever reason, your access to TFC Everywhere will be automatically blocked.
                        </li>
                        <li>If, however, your TFC Premium Subscription is suspended due to technical issues
                            or a defective STB, TFC Everywhere will still be accessible to you for <b>twelve (12)
                                days</b> from date of suspension of your TFC Premium Subscription.</li>
                        <li>If your TFC Everywhere access has been blocked, you can access and view online select
                            content for free and/or purchase a TFC.tv subscription plan or any of its retail
                            products by registering on TFC.tv at www.tfc.tv.</li></ul>
                    </li>
                    <li><b>Platform Switch/Change in TFC Premium Subscription</b><ul>
                        <li>You can switch platforms i.e. DTH to IPTV and vice-versa within the TFC Premium
                            Package without affecting your access to TFC Everywhere.</li></ul>
                    </li>
                    <li><b>Prepaid TFC Premium Subscription</b>
                        <ul>
                            <li>Your access to TFC Everywhere will automatically terminate or be blocked off once
                                prepaid credits for your Prepaid TFC Premium Subscription has been consumed.</li>
                            <li>Access to TFC Everywhere shall continue or resume, as applicable, once additional
                                pre-paid credits or top-up is made on your Prepaid TFC Premium Subscription.</li></ul>
                    </li>
                </ul>
                <h3>
                    PRIVACY POLICY AND USE OF PERSONAL INFORMATION</h3>
                <p>
                    Your privacy is important to us. By agreeing to and accepting the Terms hereof,
                    you acknowledge that certain personal information may be collected and used exclusively
                    by ABS-CBN and its Subsidiaries and Affiliates. We are committed to safeguarding
                    your personal information and will use all good faith efforts to ensure that it
                    is secure</p>
                <p>
                    When you register with TFC Everywhere, we ask for your personal information such
                    as your name, email address, city, state, and country. We also collect information
                    about your transactions with us, including how you use our products and services.
                    We also record information from your computer hardware and browser, including your
                    IP address, cookie information, software and hardware attributes.</p>
                <p>
                    We will not rent, sell, provide or share your personal information with other people
                    or non-affiliated or non-related companies. We will limit access to your personal
                    information to employees, agents, and representatives who need to access your personal
                    information in order to accomplish their functions. Furthermore, these employees,
                    agents and representatives are obliged to keep your personal information confidential.</p>
                <p>
                    We will not use or disclose sensitive personal information, such as race, religion,
                    or political affiliations, without your explicit consent.</p>
                <p>
                    Your full and proper registration authorizes ABS-CBN and its Subsidiaries and Affiliates
                    the express limited right to use your disclosed personal information as detailed
                    herein. We may use your personal information for the following purposes: a.) to
                    provide you access to TFC Everywhere; b.) to market, promote and advertise the products,
                    services and activities of ABS-CBN and its Subsidiaries and Affiliates; c.) to customize
                    ABS-CBN's and its Subsidiaries and Affiliates' advertising, promotional and marketing
                    activities; d.) to fulfill your requests for products and services; e.) to conduct
                    research and perform statistical analyses of user behavior in order to measure relative
                    consumer interest on various products, services and activities of ABS-CBN and its
                    Subsidiaries and Affiliates; f.) to inform advertisers or sponsors how many have
                    responded to an advertisement or promotion; g.) to promote and manage ABS-CBN's
                    and its Subsidiaries and Affiliates' customer loyalty program/s; h.) to pass on
                    information to the relevant government agency or institution for fraud information;
                    i) to investigate, prevent or take action regarding illegal activities, suspected
                    fraud, situations involving potential threats to the physical safety of any person,
                    violation of the Terms, or as otherwise required by law; j.) to transfer information
                    if ABS-CBN and/or TFC Everywhere is acquired by another company; k.) to transfer
                    information outside Your Territory or country of residence; l.) to be used as a
                    basis for displaying targeted advertisements in the TFC Everywhere website and the
                    websites of ABS-CBN and its Subsidiaries and Affiliates; m.) to respond to subpoenas,
                    court orders or legal processes, or to establish or exercise ABS-CBN's rights or
                    defend legal claims against ABS-CBN; and n.) to contact you and communicate with
                    you for any of the foregoing purposes.</p>
                <p>
                    You agree that we may share and transfer your personal information with and to our
                    Subsidiaries and Affiliates and that ABS-CBN, its Subsidiaries and Affiliates may
                    use your personal information for the foregoing purposes without further notice.
                    You also agree to indemnify and hold ABS-CBN and its Subsidiaries and Affiliates,
                    their officers, agents, directors, stockholders and employees free and harmless
                    from and against and all claims, damages, liabilities, costs and expenses, including
                    attorney's fees, in connection with the permitted use of your personal information
                    as detailed hereinabove.</p>
                <p>
                    You also authorize our service provider to collect personal information that may
                    be used to identify or locate you. You also authorize our service provider to collect
                    non-personal information that may include your IP Address, browser type, your computer's
                    operating system, what pages you view, what links you click, the amount of time
                    you spend on certain pages and certain demographic information such as age and gender.</p>
                <p>
                    If you have any questions or if you prefer that we refrain from or limit the use
                    of your personal information, you may advise us by going to the @Html.ActionLink("Contact Us", "ContactUs", "Home")
                    page. We shall continue using your personal information for the foregoing purposes
                    until and unless we receive your advice requesting us to refrain from or limit the
                    use of your personal information.</p>
                <p>
                    We reserve the right at any time to modify, suspend, discontinue or terminate, temporarily
                    or permanently your TFC Everywhere account. A notice advising you of the modification,
                    suspension or termination of your TFC Everywhere account will be sent to your registered
                    email address. You acknowledge that ABS-CBN will not be liable to you or to any
                    third party for any claim, loss or liability arising from or in connection with
                    the modification, suspension or discontinuance of your TFC Everywhere account.</p>
                <h3>
                    MARKS AND LOGOS</h3>
                <p>
                    You acknowledge that ABS-CBN and its Subsidiaries and Affiliates owns and/or has
                    the exclusive right to use TFC Everywhere mark, TFC logo, TFC.tv logo, ABS-CBN logo
                    and other marks and logos related to TFC, TFC Everywhere and the programs and content
                    therein (collectively the "ABS-CBN marks"). You agree not to use or display any
                    ABS-CBN mark/s in any manner, and/or not to assert any right or claim thereto or
                    ownership thereof.</p>
                <h3>
                    CONTENT USAGE
                </h3>
                <p>
                    You may only access and view TFC Everywhere personally and for a non-commercial
                    purpose ("Right to Use"). You further acknowledge that all products or content accessed
                    through your TFC Everywhere account (the "Products") are the sole exclusive property
                    of ABS-CBN and its affiliates. Such Products are protected by copyrights, trademarks,
                    service marks, patent or other proprietary rights and all applicable local, federal
                    and international laws. Your subscription and Right to Use does not grant, convey
                    or otherwise transfer any license, sublicense or ownership of any such Products.
                    You agree not to sell/resell, digitally stream, broadcast or disseminate, modify,
                    rent, lease, distribute or create derivative works based on TFC Everywhere or retain
                    any copy/duplicate of any Products subsequent to the termination of your access
                    in whole or in part, absent the prior express written authorization of ABS-CBN.
                    The Right to Use is expressly limited to each properly registered and subscribed
                    user only and may not be assigned or transferred to any third party.</p>
                <p>
                    Before you access any Content through your TFC Everywhere account with adult or
                    mature content, you represent that you are of legal age of majority in the applicable
                    jurisdiction to access and view adult or mature content. You further warrant that
                    you shall be responsible for ensuring that all persons viewing or accessing such
                    Products under your Right of Use and subscription will be of legal age as well.
                    If you have authorized a minor to use TFC Everywhere, then you agree to be fully
                    responsible for: (i) controlling the minor's access to and use of TFC Everywhere;
                    and (ii) the consequences of any misuse by the minor. You acknowledge that some
                    of the Content may include material that is inappropriate for minors.</p>
                <h3>
                    ADVERTISEMENTS AND LINKS</h3>
                <p>
                    TFC Everywhere may show advertisements and communications from ABS-CBN, and its
                    Subsidiaries and Affiliates. Unless otherwise specified, no advertisement, communication
                    or information shall be deemed as a binding offer from ABS-CBN, or its Subsidiaries
                    and Affiliates. Furthermore, ABS-CBN makes no warranty, representation(s) or endorsement
                    of any goods or services offered thereof. Instead, the advertisement, communication
                    or information may be considered as an invitation for you to purchase products of
                    ABS-CBN and its Subsidiaries and Affiliates or to engage or avail of their services.</p>
                <h3>
                    SOCIAL MEDIA SITES LINK</h3>
                <p>
                    If you registered on TFC Everywhere by linking your Social Network Account thereto,
                    all of your activities in your TFC Everywhere account will be posted automatically
                    on the social media accounts. Please note that only one account for each type of
                    social media can be connected to your TFC Everywhere account.</p>
                <p>
                    We encourage you to review the Privacy Settings and Privacy Policy on your Social
                    Media Accounts before linking any of them to TFC Everywhere so that you can understand
                    how Facebook, Twitter and other social media collect, use and share your information.
                    We are not responsible for the information used, collected or shared by Facebook,
                    Twitter and other social media.</p>
                <p>
                    You may disconnect your TFC Everywhere account from your Social Media Account by
                    modifying your TFC Everywhere account profile.</p>
                <h3>
                    ACCESS TO TFC.TV</h3>
                <p>
                    Your registration on TFC Everywhere allows you to access TFC.tv, even without prior
                    subscription to or registration with TFC.tv when you browse through the Category
                    buttons or use the Search facility on the TFC Everywhere web pages. By accessing
                    TFC.tv, you confirm that you have read, understood and accept any and all terms
                    and conditions applicable to access and use of TFC.tv.</p>
                <h3>
                    DISCLAIMER</h3>
                <p>
                    We disclaim any representations and warranties, including without limitation, the
                    implied warranties of merchantability and fitness for a particular purpose. You
                    agree and acknowledge that we shall have absolutely no liability in connection with
                    the provision of TFC Everywhere including, but not limited to, any liability for
                    damage to your computer hardware, data, information, materials and business resulting
                    from your use of TFC Everywhere.</p>
                <p>
                    Insofar as Social Media Accounts are dependent upon the third party social media
                    website(s) and application(s) companies, ABS-CBN and its affiliates make no warranty,
                    express or implied, as to the compatibility, integration and/or functional compatibility
                    of your TFC Everywhere account and such Social Media Accounts.</p>
                <p>
                    You agree and acknowledge that we make no warranty, representation or guarantee
                    as to the content, sequence, timeliness, accuracy or completeness of TFC Everywhere
                    or that TFC Everywhere will be uninterrupted or error free or that any defects in
                    TFC Everywhere can be corrected. You agree and acknowledge that we shall not be
                    liable for any direct, indirect, incidental, special, consequential or exemplary
                    damages, including but not limited to, damages for lost profits, goodwill, use,
                    data or other intangible losses (even if we have been advised of the possibility
                    of such damages), resulting from: (1) your use or your inability to use TFC Everywhere;
                    (ii) the cost of procurement of substitute goods and services resulting from any
                    goods, data, information or services purchased or obtained or messages received
                    or transactions entered into through or from TFC Everywhere; or (iii) any other
                    matter relating to TFC Everywhere.</p>
                <p>
                    You understand, acknowledge and agree that TFC Everywhere is a feature made available
                    by ABS-CBN at sole option and that the subscription fee which you pay for your Direct
                    TFC Subscription does not cover or include, nor is a consideration for, your access
                    or continued access to TFC Everywhere, As such, ABS-CBN has no obligation to make
                    available or to continue making TFC Everywhere available to you, and it may, at
                    any time disapprove, revoke modify, discontinue, suspend, cancel or terminate your
                    access to TFC Everywhere, or modify, discontinue, suspend, cancel or terminate TFC
                    Everywhere, without incurring any liability to you.</p>
                <h3>
                    INDEMNITY</h3>
                <p>
                    You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates and their
                    directors, officers, agents, or other partners, and employees, free and harmless
                    from and against and all claims, damages, liabilities, costs and expenses, including
                    attorney's fees, made by any third party due to or arising out of or in connection
                    with your use of TFC Everywhere, your connection or access to TFC Everywhere, your
                    use of the facilities of TFC Everywhere, any modification, discontinuation, suspension,
                    cancellation or termination of your access to, and/or of, TFC Everywhere, your violation
                    of the Terms, your violation of the rights of any person or entity, or your violation
                    of any applicable laws</p>
                <h3>
                    MISCELLANEOUS</h3>
                <p>
                    Philippine Law shall govern these Terms and our relationship as service provider
                    and User without regard to conflict of law provisions. Furthermore, you agree to
                    submit to the personal and exclusive jurisdiction of the appropriate courts of the
                    Philippines.</p>
                <p>
                    Our failure to exercise or enforce any right or provision of the Terms shall not
                    constitute a waiver of such right or provision. If any provision of the Terms is
                    found by a court of competent jurisdiction to be invalid, the parties nevertheless
                    agree that the court should endeavor to give effect to the parties' intentions as
                    reflected in the provision, and the other provisions of the Terms remain in full
                    force and effect.</p>
                <p>
                    You agree that regardless of any statute or law to the contrary, any claim or cause
                    of action arising out of or related to use of TFC Everywhere or the Terms must be
                    filed within one (1) year after such claim or cause of action arose or be forever
                    barred.</p>
                <p>
                    The section titles in the Terms are for convenience and have no legal or contractual
                    effect.</p>
                <p>
                    If you have any questions or comments, please go to the @Html.ActionLink("Help Center", "Index", "Help")
                    page or to the @Html.ActionLink("Contact Us", "ContactUs", "Home") page.</p>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
