@{
    ViewBag.Title = "Terms And Conditions - TFC.tv";
    Layout = "~/Views/Shared/_UXUpdate.cshtml";
    bool ShowAirTerms = false;
    try
    {
        if (ViewBag.ShowAirTerms != null)
        {
            ShowAirTerms = ViewBag.ShowAirTerms;
        }
    }
    catch (Exception) { }
}
<section class="page_pagebody termsCond_pagebody">
    <div class="container">
        <h1 class="page_title clearfix">
            Terms And Conditions - TFC.tv
        </h1>
        <h2>
            TERMS AND CONDITIONS OF SUBSCRIPTION AND/OR USE
        </h2>
        <p>
            TFC.tv is an online content distribution service providing subscribers with audio-visual, audio, video and/or content streams of television shows, movies, music and other entertainment content, or clips or excerpts of such content, owned by or licensed to ABS-CBN Corporation, ABS-CBN Global Hungary Kft. (Luxembourg Branch) and their subsidiaries and affiliates (“the ABS-CBN Group” or the “Subsidiaries and Affiliates”). TFC.tv also allows subscribers to comment, rate, chat and use other interactivity tools.  Users may also submit user generated content using the tools provided by TFC.tv. (The services and functionality provided through TFC.tv are collectively referred to as the “Service”).
        </p>
        <p>
            These Terms and Conditions of Subscription and/or Use (“Terms”) govern the relationship between ABS-CBN Australia Pty. Ltd. (“ABS-CBN”, “us” or “we”) as service provider and you as subscriber and/or user. Any reference to “we,” “us,” or “our” in the Terms refer to ABS-CBN Australia Pty. Ltd. Any reference to “you” or “subscriber” or “user” refer to the person subscribing to or/and using TFC.tv.
        </p>
        <p>
            We may update the Terms from time to time.  If you are a subscriber or user, wherever reasonably practicable, we will notify you of updates to the Terms and such updates will take effect within seven (7) days of notice to you.  Otherwise, any changes to the Terms will take effect upon posting.  Subject to the above, your continued subscription and use of TFC.tv constitute your acceptance of the Terms, and any amendment or updates to the Terms. Unless otherwise specified, any new feature/s of TFC.tv shall be subject to the current Terms.  Current versions of the Terms, including recent updates, will be available for review on the TFC.tv website.  Should you wish to discontinue the use of the Service at any time, you may do so in accordance with the Terms. If you do not agree with any of the Terms, you must not continue to access or use the Service and/or TFC.tv Products.
        </p>
        <h2>
            REGISTRATION
        </h2>
        <p>
            Upon our acceptance of your full and proper registration with TFC.tv, you may access or subscribe to any of the subscription packages, programs, movies, or pay per view services and other TFC.tv products and/or services (the “TFC.tv Product/s”). By registering with or using TFC.tv, you represent and warrant that you are over 18 years of age, have read and understand the Terms and are fully able and competent to enter into and comply with the Terms. You also represent and warrant that you are not prohibited from accessing the Service under all relevant laws.  You also represent and agree that you will use and access TFC.tv and the TFC.tv Products for your personal use only and in compliance with all applicable laws and regulations.
        </p>
        <p>
            You may register with TFC.tv by using your existing account with social networks that we support. You may also register with TFC.tv directly.
        </p>
        <p>
            By using your existing social network to register with TFC.tv, you confirm that you have provided true, accurate and complete information about yourself in the social network you used. You also agree to update your information in the social network you used and to keep it true, accurate and complete. We have the right to suspend or terminate your account and/or to refuse future subscription if there are reasonable grounds to believe that you have not provided true, accurate and complete information about yourself in the social network you used where such information would impact on our ability to provide TFC.tv or otherwise adversely affect us, TFC.tv or TFC.tv Products, or if you materially violate any of the Terms. By registering with TFC.tv directly, you agree to provide us true, accurate, and complete information about yourself when you fill out the TFC.tv Account Information and to update your information to keep it true, accurate, and complete. We have the right to suspend or terminate your account and/or to refuse future subscription if there are reasonable grounds to believe that you have not provided true, accurate and complete information about yourself in the TFC.tv Account Information where such information would impact on our ability to provide TFC.tv or otherwise adversely affect us, TFC.tv or TFC.tv Products or in the event of your material violation of any of the Terms.
        </p>
        <p>
            You hereby expressly acknowledge that the Subscription Packages, Service and TFC.tv Products are exclusively provided by ABS-CBN and may be altered or discontinued at any time at its sole discretion by, wherever reasonably practicable, seven (7) days prior notice to you.  However, you acknowledge that that in some circumstances, particularly where urgent action is required, we may not be able to provide you with prior notice of the alteration or discontinuation.  If we discontinue or alter the Subscription Package, Service or TFC.tv Products in a way that has a material detrimental effect on your chosen Subscription Package, Service or TFC.tv Products, then you may request cancellation of your Subscription Package in a written notice to us which also outlines the alleged material detrimental effect.  Cancellation of your Subscription Package in such circumstances will be subject to our written consent, which will not be unreasonably withheld.
        </p>
        <h2>
            PASSWORD AND ACCOUNT SECURITY
        </h2>
        <p>
            You agree to keep your username and password confidential. Your registration is not transferable and you must not allow others to access your username and password. You assume full responsibility for all activities under your TFC.tv account. We will presume that you have performed all activities under your TFC.tv account and such activities are valid, unless you advise us otherwise. You also agree to inform us of any unauthorized use of your TFC.tv account as soon as possible after you discover the unauthorized use, by going to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a> page. In order to ensure that each account is being used by the registered intended user, your password may periodically be reset.  In such event, you will be notified and required to update your account with a new password.
        </p>
        <p>
            You agree to cover us for all damages, losses and costs (including attorney's fees) awarded against or suffered by ABS-CBN, the ABS-CBN Group and Subsidiaries and Affiliates, their directors, officers, shareholders, agents, employees, or other partners (collectively, for the purposes of this paragraph, "Indemnified Parties"), arising from the unauthorized use of your TFC.tv account and password, except to the extent that the relevant damages, losses and costs, have been caused by the gross negligence or willful misconduct of an Indemnified Party.  Additionally, you hereby acknowledge that, in the event that your willful and/or intentional misuse, misappropriate use, abuse, breach of the Terms or otherwise prohibited use of your TFC.tv account results in damage to any ABS-CBN property(s)/materials, you may be held liable for all applicable civil and/or criminal penalties under law.
        </p>
        <p>
            You must not violate or attempt to violate the security of the Service.  You must not hack into the accounts of other subscribers or users, or the computer systems of ABS-CBN, the ABS-CBN Group and Subsidiaries and Affiliates.
        </p>
        <h2>
            PRIVACY POLICY AND USE OF PERSONAL INFORMATION
        </h2>
        <p>
            Your privacy is important to us.  By subscribing with and using TFC.tv, , you acknowledge that certain personal information may be collected, transferred, stored, recorded, shared and used exclusively by ABS-CBN, the ABS-CBN Group and Subsidiaries and Affiliates.  We are committed to safeguarding your personal information and will use all reasonable efforts to ensure that it is secure.
        </p>
        <p>
            When you register with TFC.tv, we ask for your personal information such as your name, email address, city, state, and country. We also collect information about your transactions with us, including how you use our products and services. We also record information from your computer hardware and browser, including your IP address, cookie information, software and hardware attributes.  If you do not provide us with any personal information that we request, we may be unable to provide you with our products and services (including the Subscription Packages, Services and/or TFC.tv Products).
        </p>
        <p>
            We will not rent, sell, provide or share your personal information with other people or non-affiliated or non-related companies, except to certain third parties (such as trusted business partners and service providers) for the purposes described in the Terms and/or as outlined in the Terms. We will limit access to your personal information to employees, agents, and representatives who need to access your personal information in order to accomplish their functions. Furthermore, these employees, agents and representatives are obliged to keep your personal information confidential.
        </p>
        <p>
            We will not use or disclose sensitive personal information without your explicit consent.
        </p>
        <p>
            You authorize ABS-CBN, the ABS-CBN Group and its Subsidiaries and Affiliates the express right to use your disclosed personal information as detailed in the Terms.  We may use your personal information for the following purposes: a) to provide you the Service; b) to market, promote and advertise the products, services, events, initiatives and activities of ABS-CBN, the ABS-CBN Group  and its Subsidiaries and Affiliates; c) to customize ABS-CBN's, the ABS-CBN Group's and its Subsidiaries and Affiliates' advertising, promotional and marketing activities; d) to fulfill your requests for products, services and information; e) to conduct research, survey and perform statistical analyses of user behavior in order to measure relative consumer interest on various products, services and activities of ABS-CBN and its Subsidiaries and Affiliates; f) to inform advertisers or sponsors how many have responded to an advertisement or promotion; g) to promote and manage ABS-CBN's, the ABS-CBN Group's and its Subsidiaries and Affiliates' customer loyalty program/s; h) to pass on information to the relevant government agency or institution for fraud information; i) to investigate, prevent or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violation of the Terms, or as otherwise required by law; j) to transfer information if the Service or ABS-CBN (or any other entities in the ABS-CBN Group) are acquired by another company; k) to transfer, move, copy, record store and your personal information outside the country where you are subscribed to the Service such as to Philippines.; l) to be used as a basis for displaying targeted advertisements in the TFC.tv website; m) to respond to subpoenas, court orders or legal processes, or to establish or exercise ABS-CBN's rights or defend legal claims against ABS-CBN; and n) to contact you and communicate with you for any of the purposes mentioned above.
        </p>
        <p>
            You agree that we may share and transfer your personal information with and to the ABS-CBN Group and Subsidiaries and Affiliates and that ABS-CBN, the ABS-CBN Group and its Subsidiaries and Affiliates may use your personal information for the purposes mentioned above without further notice. You also agree to cover us for all damages, losses and costs (including attorney's fees), awarded against or suffered by ABS-CBN, the ABS-CBN Group and its Subsidiaries and Affiliates, their officers, agents, directors, stockholders (collectively, for the purposes of this paragraph, "Indemnified Parties"), in connection with the permitted use of your personal information as detailed in the Terms, except to the extent that the relevant damages, losses and costs, have been caused by the gross negligence or willful misconduct of an Indemnified Party.
        </p>
        <p>
            You also authorize our service providers to collect personal information that may be used to contact, identify or locate you for the purposes of the Services and TFC.tv Products. You also authorize our service providers to collect non-personal information that may include your IP address, browser type, your computer's operating system, what pages you view, what links you click, the amount of time you spend on certain pages and certain demographic information such as age and gender.
        </p>
        <p>
            We will endeavor to take all reasonable steps to keep secure any information which we hold about you, and to keep this information accurate and up to date.  Your information is stored on secure servers that are protected in controlled facilities.  We may use overseas facilities to process or back up information.  As a result, we may transfer your personal information to our overseas facilities in the Philippines for storage.  However, this does not change any of our commitments to safeguard your privacy.
        </p>
        <p>
            Upon request, we will provide you with access to personal information that we hold about you, except in the limited circumstances in which it is permitted for us to withhold this information.  To request access to your personal information, or to change personal information that is inaccurate or out of date please visit the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a> page.
        </p>
        <p>
            IfIf you have questions or if you prefer that we refrain from or limit the use of your personal information, please advise us by going to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a> page.
        </p>
        <h2>
            PAYMENT
        </h2>
        <p>
            You may begin viewing our programs and content through TFC.tv once payment of the required fees in accordance with your chosen TFC.tv Product/s has been confirmed by our system. Payment for subscription to TFC.tv Product/s are payable in advance.
        </p>
        <p>
            You may pay for your chosen TFC.tv Product/s directly by using your credit card, Pay-pal account, E-Wallet, or by purchasing and loading pre-paid cards. Payment by bank deposit is not allowed.
        </p>
        <ul>
            <li>
                a.)	Credit Cards – You may use any major credit card to pay for your chosen TFC.tv Product/s provided credit card payment is available in your territory.
            </li>
            <li>
                b.)	Pay-pal Account – By using your Pay-pal account, your credit card and/or bank account enrolled with Pay-pal will be charged for the payment of your chosen TFC.tv Product/s.
            </li>
            <li>
                c.)	E-Wallet – Upon registration, TFC.tv will assign you an E-Wallet which you can use to load credits. You may load your E-Wallet by purchasing prepaid cards or buying load credits using your credit card or Pay-pal account. You can also purchase load credits by using Mopay. You cannot use another E-Wallet to load credits to your E-Wallet. You may use the credits in your E-Wallet to pay for your own TFC.tv Product/s.
            </li>
            <li>
                d.)	Prepaid cards/ePINs - The prepaid card/ePINs may be purchased from ABS-CBN Offices and authorized TFC.tv distributors and dealers.
            </li>
        </ul>
        @*<h2>
                WISHLIST AND GIFTING
            </h2>
            <p>
                You may indicate the TFC.tv products you want to receive in your wishlist and you
                may also purchase for another TFC.tv subscriber any of the TFC.tv products in his/her
                wishlist subject to the conditions described below:
            </p>
            <ul>
                <li>
                    a.) In order to send a gift, both you and the intended recipient must be registered
                    with TFC.tv. In addition you must have:
                    <br />
                    <ul>
                        <li>i) enough credits in your TFC.tv E-wallet;</li>
                        <li>
                            ii) loaded a pre-paid card that matches the TFC.tv Product you intend to give to
                            the intended recipient;
                        </li>
                        <li>
                            iii) have a credit card and credit card payment is allowed in your region; or
                        </li>
                        <li>iv) a PayPal account. </li>
                    </ul>
                </li>
                <li>
                    b.) In order to receive a gift, you must be registered with TFC.tv. You will receive
                    the gift in a few minutes after TFC.tv confirms with the sender that the TFC.tv
                    Product has been purchased and sent to you as a gift.
                </li>
                <li>c.) The amount paid for the gifts cannot be refunded to the sender.</li>
                <li>
                    d.) If the gift is the same as the existing Subscription Package (as defined below)
                    that recipient has, the gift will be considered as an extension of the recipient's
                    then current subscription. Existing subscribers to the Premium Subscription Package
                    cannot receive Lite Subscription Packages as gifts (see the below descriptions of
                    subscriptions). Likewise, existing subscribers to Lite Subscription Packages cannot
                    receive Premium Subscription Packages as gifts..
                </li>
                <li>
                    e.) Subscription Packages cannot be sent as gifts to users who are in locations
                    where the Subscription Packages are not available.
                </li>
            </ul>
            <p>
                For more information about the wishlist and gifting, kindly visit the <a href="@Url.Action("Index", "Help")">
                    Help Center
                </a> page.
            </p>*@
        <h2>
            SUBSCRIPTION
        </h2>
        <p>
            You have the option to subscribe to subscription packages available on TFC.tv. Once you are subscribed to a subscription package, you shall be granted access to all of TFC.tv programs that are part of the subscription package you have subscribed to.
            You will cease to avail of the subscription package upon expiration of the subscription period and non-renewal of your subscription thereto.  You may renew your subscription at any time prior to or after the expiry date of your subscription. You may pay for the renewal of your subscription through your E-Wallet, pre-paid card, credit card or pay-pal account, if available in your territory.

        </p>
        @*        <div class="table-responsive">
                <!-- responsive table -->
                <table class="table">
                    <tr>
                        <td>
                            <b>Premium Package</b>
                        </td>
                        <td>
                            <p>
                                Access to all of TFC's current programs and selected television classics, movies
                                and sports programs.
                            </p>
                            <p>
                                Available subscription periods(measured from date when subscription is activated):
                                ten (10) days, one (1) month, three (3) months, twelve (12) months
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                Lite Package<br>
                                (May not be available in some territories)
                            </b>
                        </td>
                        <td>
                            <p>
                                Access to essential content from two line-ups of TFC's current programs
                            </p>
                            <p>
                                Available subscription periods(measured from date when subscription is activated):
                                one (1) month, three (3) months
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Movie Channel Package</b>
                        </td>
                        <td>
                            <p>
                                Access to extensive on-line library of blockbuster and classic movie titles
                            </p>
                            <p>
                                Available subscription periods(measured from date when subscription is activated):
                                one (1) month, three (3) months
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END responsive table -->*@
        <p>
            You will cease to avail of the subscription package upon expiration of the subscription period and non-renewal of your subscription thereto.  You may renew your subscription at any time prior to or after the expiry date of your subscription. You may pay for the renewal of your subscription through your E-Wallet, pre-paid card, credit card or pay-pal account, if available in your territory.
        </p>
        <p>
            Any request for cancellation of subscription package shall be subject to approval of ABS-CBN at its sole discretion.  If ABS-CBN approves the cancellation of your subscription package, an amount equivalent to the number days remaining in your subscription package (reckoned from date of approval of cancellation by ABS-CBN) multiplied by the subscription package daily rate and shall be refunded to you by reloading the amount of the refund to your E-wallet, or by returning the amount of the refund to your credit card or pay-pal account, at ABS-CBN's sole discretion.  You cannot request to cancel a subscription to a retail product.
        </p>
        <p>
            Your subscription package is not transferrable.
        </p>
        <p>
            We reserve the right at any time to modify, suspend, discontinue or terminate, temporarily or permanently your TFC.tv account. A notice advising you of the modification, suspension or termination of your TFC.tv account will be sent to your registered email address. In case of suspension of your TFC.tv account, your subscription expiry date will be adjusted upon re-activation of your subscription, based on the number of days that your subscription was suspended. In case of termination of your TFC.tv account, you will not be entitled to any refund. You acknowledge that ABS-CBN will not be liable to you or to any third party for any claim, loss or liability arising from or in connection with the modification, suspension or discontinuance of your TFC.tv account.
        </p>
        @*<p>
                You are allowed to upgrade but you cannot downgrade your current Subscription Package.
                Your Subscription Package is not transferable.
            </p>
            <p>
                We reserve the right to modify, suspend, discontinue or terminate, temporarily or
                permanently your TFC.tv account by notice to you, where you have (or there are reasonable
                grounds to believe that you have):
            </p>
            <ul>
                <li>a.) failed to make any payments that you owe to us;</li>
                <li>b.) materially breached the Terms; or</li>
                <li>
                    c.) engaged in unlawful conduct, misconduct, fraud or any other unauthorized activity
                    in relation to the Service and/or TFC.tv products.
                </li>
            </ul>
            <p>
                Unless immediate termination is permitted by other provisions of the Terms, prior
                notice advising you of the modification, suspension or termination of your TFC.tv
                account will be sent to your registered email address. In case of suspension of
                your TFC.tv account, your Subscription Package expiry date will be adjusted upon
                re-activation of your subscription (if any), based on the number of days that your
                subscription was suspended but no refund will be provided. In case of termination
                of your TFC.tv account, you will not be entitled to any refund or adjustment of
                the subscription period. To the extent permitted by law, you acknowledge that ABS-CBN
                will not be liable to you or to any third party for any claim, loss, damages or
                liability arising from or in connection with the modification, suspension or discontinuance
                of your TFC.tv account that is permitted by the Terms.
            </p>*@
        <h2>
            AUTOMATIC RENEWAL OF SUBSCRIPTION
        </h2>
        <p>
            By selecting credit card or pay pal account as mode of payment, you agree that unless you opt-out from Automatic Renewal, we shall automatically renew your subscription for the same subscription period and under the same terms and condition under your then current subscription and charge the subscription fee for the renewed subscription to the same credit card or pay pal account that you used to pay for your then current subscription.  We shall send an email to your registered email address to confirm that your credit card or pay pal account is enrolled to the automatic renewal of your subscription.
        </p>
        <p>
            Please note that we shall continue to automatically renew your subscription at the end of the relevant subscription period and charge the subscription fee for the succeeding subscription to your credit card or pay pal account until and unless you cancel Automatic Renewal.
        </p>
        <h2>OPT-OUT OF AUTOMATIC RENEWAL</h2>
        <p>You may opt-out or cancel Automatic Renewal by visiting the Edit Your Profile Page and ticking the box on removal of Automatic Renewal  at least three (3) days prior to the last day of your existing subscription. If you cancel your Automatic Renewal less than 3 days prior to the last day of your existing subscription, your subscription shall be renewed for another subscription period.</p>
        <h2>
            MARKS AND LOGOS
        </h2>
        <p>
            You acknowledge that ABS-CBN, the ABS-CBN Group and/or its Subsidiaries and Affiliates owns and/or has the exclusive right to use TFC.tv mark, TFC logo, ABS-CBN logo and other marks and logos related to TFC.tv and the programs and content therein (collectively the “ABS-CBN marks”). You agree not to use or display any ABS-CBN mark/s in any manner, and/or not to assert any right or claim of ownership to the ABS-CBN marks.
        </p>
        <h3>
            TFC.tv PROGRAMS AND CONTENT
        </h3>
        <p>
            You may only access the Service and view TFC.tv Products personally and for private, domestic and  non-commercial purposes (“Right to Use”).  You agree not to display TFC.tv Products in whole or in part for any public presentation.
        </p>
        <p>
            You further acknowledge that the Service and TFC.tv Products are the sole exclusive property of ABS-CBN, the ABS-CBN Group and/or its Subsidiaries and Affiliates.  The Service and TFC.tv Products are protected by copyrights, trademarks, service marks, patent or other proprietary rights and all applicable local, federal and international laws.  Your subscription and Right to Use does not grant, convey or otherwise transfer any license, sublicense or ownership of any TFC.tv Products.  You agree not to sell/resell, digitally stream, broadcast or disseminate, modify, rent, lease, distribute or create derivative works based on TFC.tv products or retain any copy/duplicate of any Products subsequent to the termination of your subscription, in whole or in part, without the prior express written authorization of ABS-CBN.  The Right to Use is expressly limited to each properly registered and subscribed user only and may not be assigned or transferred to any third party.
        </p>
        <p>
            If you access any TFC.tv Product with adult or mature content, you represent that you are over 18 years of age.  You further represent that you will be responsible for ensuring that all persons viewing or accessing such TFC.tv Products under your Right of Use and subscription will be over 18 years of age as well.
        </p>
        <p>
            To receive the Service and TFC.tv Products, you must comply with the System Requirements of TFC.tv. For more information on the System Requirements, please visit the <a href="@Url.Action("Index", "Help")">
                Help Center
            </a> page.
        </p>
        <h2>
            USER CONTRIBUTIONS, REVIEWS AND COMMENTS
        </h2>
        <p>
            You may publish, transmit, submit, tag or post (collectively, "Post") reviews and comments that are directly relevant to TFC.TV. You may also chat or send electronic communications (collectively, “Chat”) to other TFC.TV users or subscribers.  Posts will be deemed user contributed materials and will be subject to the Terms (including the section entitled "User Posted Material" below).
        </p>
        <p>
            You further agree not to collect, share or store personal data about other subscribers or users where not authorized by such subscribers or users.
        </p>
        <p>
            You understand and agree that ABS-CBN will store the materials or communication subject of your Posts or Chats on its servers.  Such materials will be subject to the Privacy Policy detailed above or as posted on the TFC.tv website.
        </p>
        <h2>
            USER POSTED MATERIAL
        </h2>
        <p>
            You understand and agree that all information, data files, written text, Post(s), Chats or other images (collectively “Material”), which are made available by registered subscriber/s or users, past and present, through TFC.tv are the sole responsibility of the person where such Material came from or who posted or uploaded the Material.
        </p>
        <p>
            You agree not to use the Service, TFC.tv or TFC.tv Products (including the TFC.tv website), whether directly or indirectly, to:
        </p>
        <ul>
            <li>
                a.) make upload or make available any of the following (including in any Posts or Chats, or through links to content described below):
                <ul>
                    <li>i) harsh, profane indecent, offensive or discriminatory language; </li>
                    <li>ii) illegal, obscene, defamatory, threatening, harassing or objectionable materials; </li>
                    <li>
                        iii) personal information, URLs, phone numbers, contact information, home, office, mailing or e-mail addresses (except where expressly requested by ABS-CBN or the ABS-CBN Group);
                    </li>
                    <li>iv) personal attacks on another person or entity;</li>
                    <li>v) unauthorized advertising or promotional materials or any form of solicitation;</li>
                    <li>
                        vi) software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or computer hardware or telecommunication equipment;
                    </li>
                    <li>
                        vii) material that infringes a third party's copyright, patent, trade mark, trade
                        secret or other proprietary rights or intellectual property rights, confidentiality
                        or privacy;
                    </li>
                    <li>viii) material that is false or misleading;</li>
                    <li>
                        ix) material that constitutes criminal content or content that might encourage any
                        criminal activity or otherwise constitute a basis for legal proceedings;
                    </li>
                    <li>
                        x) material that causes any damage to ABS-CBN or its Affiliate or Subsidiaries;
                        or
                    </li>
                    <li>xi) material that breaches the Terms; or</li>
                </ul>
            </li>
            <li>
                b.) impersonate any person or entity or otherwise misrepresent your affiliation
                with a person or entity; or
            </li>
            <li>c.) use the Service or TFC.tv Products for any unlawful purpose.</li>
        </ul>
        <p>
            Breach of any of the foregoing will result in the immediate suspension or termination
            of your account.
        </p>
        <p>
            Additionally, in the event of any loss or damage resulting from such violation to either ABS-CBN, its affiliates or other registered third party TFC.TV users, you may be subject to all applicable civil and/or criminal penalties.
        </p>
        <p>
            ABS-CBN does not endorse any Material posted by the subscribers and/or users and such Material does not reflect the opinion or policies of ABS-CBN and its Subsidiaries and Affiliates, nor of their employees, directors, shareholders, officers, agents, or representatives. ABS-CBN and its Subsidiaries and Affiliates, their employees, directors, shareholders, officers, agents, or representatives will not be liable for any losses or damages incurred as a result of Material posted by a subscriber or user on TFC.tv.
        </p>
        <p>
            By Posting Material on TFC.tv, you represent and warrant that you own the Material posted or that you have obtained permission from the rightful owner of the Material to Post, use or display it on TFC.tv. You also represent and warrant that the Posting of the Material does not violate the right of any party or entity, including but not limited to invasion of privacy or infringement of intellectual property rights. You agree to cover us for all damages, losses and costs (including attorney's fees) awarded against or suffered by  ABS-CBN, its Subsidiaries and Affiliates, their employees, directors, shareholders, officers, agents, or representatives (collectively, for the purposes of this paragraph, "Indemnified Parties"), arising out of or in connection with any Material which you Post on TFC.tv.  You also grant ABS-CBN and its Subsidiaries and Affiliates a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to use, reproduce, adapt, modify, translate, publish and distribute the Material, in whole or in part, you Post or make the same available on TFC.tv. or any platforms or channels or ABS-CBN, its Subsidiaries and Affiliates.
        </p>
        <p>
            We are not required to host, display or distribute the Material and we reserve the right, but will have no obligation, to pre-screen, review, edit, modify, flag, refuse or remove any Material you Post or make available in TFC.tv upon our reasonable belief that such Material is offensive, indecent, objectionable, infringes the right of a person or entity, is in breach of the Terms or for any reasonable reason at any time.
        </p>
        <p>
            In using TFC.tv, you may be exposed to Material made available by other subscribers or users that you may find offensive, indecent or objectionable. In such case, please advise us of such Material by going to the  <a href="@Url.Action("ContactUs", "Home")">Contact Us</a> page. However, you hereby expressly acknowledge and accept that certain Material may be posted or contained on TFC.TV that may be in opposition to your personal beliefs, opinions or taste, but may nonetheless be lawfully permitted.
        </p>
        <h2>
            ADVERTISEMENTS AND LINKS
        </h2>
        <p>
            TFC.tv may show advertisements and communications from ABS-CBN, and its Subsidiaries and Affiliates. Unless otherwise specified, no advertisement, communication or information shall be deemed as a binding offer from ABS-CBN, or its Subsidiaries and Affiliates.  To the extent permitted by law, ABS-CBN makes no warranty, guarantee, representation(s) or endorsement of any goods or services offered under the relevant advertisement, communication or information.  Instead, the advertisement, communication or information may be considered as an invitation for you to purchase products of ABS-CBN and its Subsidiaries and Affiliates or to engage or access their services.
        </p>
        <p>
            TFC.tv may also show advertisements and communications from advertisers other than ABS-CBN (“Other Advertisers”). You agree that your correspondence or dealings with the Other Advertisers are solely between you and the Other Advertisers. You agree and acknowledge that ABS-CBN will not be liable for, and that you will pay for any damages, losses and costs (including attorney's fees) awarded against or suffered by ABS-CBN or its Subsidiaries and Affiliates, in connection with your correspondence or dealings with the Other Advertisers.
        </p>
        <p>
            TFC.tv may also provide links to other internet sites. You agree and acknowledge that to the extent permitted by law, ABS-CBN will not be responsible or liable, directly or indirectly, for any damage or loss caused by your use of any content, goods or services available in other internet sites.  No guarantee or warranty, implied or express, is offered by ABS-CBN or its affiliates as to any goods or services provided by its advertisers.
        </p>
        <h2>
            SOCIAL MEDIA SITES LINK
        </h2>
        <p>
            You have the option to connect your TFC.tv account to your Facebook, Twitter or other social media account (collectively “Social Media Accounts”). In case you select this option, all of your activities in your TFC.tv account will be posted automatically to your Social Media Accounts. Please note that only one account for each type of social media can be connected to your TFC.tv account.
        </p>
        <p>
            We encourage you to review your Social Media Accounts' Privacy Settings and Privacy Policy so that you can understand how Facebook, Twitter and other social media collect, use and share your information. We are not responsible for the information used, collected or shared by Facebook, Twitter and other social media.
        </p>
        <p>
            You may disconnect your TFC.tv account from your Social Media Accounts by modifying your TFC.tv account profile.
        </p>
        <h2>
            DISCLAIMER
        </h2>
        <p>
            To the extent permitted by law and subject to the section entitled "Statutory Consumer
            Guarantees" below:
        </p>
        <ul>
            <li>
                a.) We exclude any guarantees, representations and warranties, including without limitation, any implied warranties or statutory guarantees of merchantability, acceptable quality and fitness for a particular purpose.
            </li>
            <li>
                b.) We will have no liability in connection with the provision of the Service or your subscription to the TFC.tv Product/s including, but not limited to, any liability for damage to your computer hardware, data, information, materials and business resulting from your use of the Service, except to the extent that such liability arises from our gross negligence;
            </li>
            <li>
                c.) Insofar as Social Media Accounts are dependent upon the third party social media website(s) and application(s) companies, ABS-CBN and its affiliates make no guarantee or warranties, express or implied, as to the compatibility, integration and/or functional compatibility of your TFC.tv account and such Social Media Accounts;
            </li>
            <li>
                d.) We make no warranty, representation or guarantee as to the content, sequence, timeliness, accuracy or completeness of the Service or that the Service will be uninterrupted or error free or that any defects in the Service can be corrected.  To the extent permitted by law, we have no liability to you for loss or costs of any kind that you may suffer as a result of or in connection with any disruption or other difficulties in using the Service; and
            </li>
            <li>
                e.) We will not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, damages for lost profits, revenue, goodwill, use, data or other intangible losses (even if we have been advised of the possibility of such damages), resulting from: (1) your use or your inability to use the Service except in the case of our gross negligence; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the Service; or (iii) any other matter relating to use of the Service in breach of the Terms.
            </li>
        </ul>
        <p>
            If, the above exclusions are ineffective for any reason and we are held to be liable to you, then to the extent permitted by law and subject to the section entitled "Statutory Consumer Guarantees" below, our cumulative liability to you for all claims made by you will not exceed, in aggregate, A$100.
        </p>
        <h2>
            STATUTORY CONSUMER GUARANTEES
        </h2>
        <p>
            Some countries have laws that do not allow certain limitations or exclusions of liability and/or damages or that apply guarantees, warranties, conditions, representations or terms that cannot be excluded or limited (except to a limited extent). Such laws may, for example, impose non-excludable guarantees from a supplier that goods are of acceptable quality or will be reasonably fit for any purpose the consumer or supplier has specified (with certain remedies available to consumers for certain breaches of such guarantees).  The Terms must be read subject to those laws and if those laws apply, notwithstanding any other provision in the Terms, to the extent to which we are able to do so, we limit our liability in respect of any claim under those provisions to:
        </p>
        <ul>
            <li>
                (a) in the case of goods, at our option,
                <ul>
                    <li>(i) the replacement of the goods or the supply of equivalent goods;</li>
                    <li>(ii) the repair of the goods;</li>
                    <li>
                        (iii) the payment of the cost of replacing the goods or of acquiring equivalent
                        goods; or
                    </li>
                    <li>(iv) the payment of having the goods repaired, and</li>
                </ul>
            </li>
            <li>
                (b) in the case of services, at our option:
                <ul>
                    <li>(i) the supply of the services again; or</li>
                    <li>(ii) the payment of the cost of having the services supplied again.</li>
                </ul>
            </li>
        </ul>
        <h2>
            INDEMNITY
        </h2>
        <p>
            You agree to cover us all damages, liabilities, costs and expenses, including attorney's
            fees, incurred by ABS-CBN, its Subsidiaries and Affiliates and their directors,
            officers, agents, or other partners, and employees, arising from claims made by
            any third party due to or arising out of:
        </p>
        <ul>
            <li>(a) your use of the Service;</li>
            <li>(b) your connection to the Service;</li>
            <li>(c) your subscription to the TFC.tv Product/s;</li>
            <li>(d) your use of the facilities of the Service, </li>
        </ul>
        <p>
            in material breach of the Terms, your material violation of the rights of any person
            or entity, or your violation of any applicable laws
        </p>
        <h2>
            MISCELLANEOUS
        </h2>
        <p>
            The Laws of Australia shall govern these Terms and our relationship as service provider
            and subscriber without regard to conflict of law provisions.
        </p>
        <p>
            Our failure to exercise or enforce any right or provision of the Terms will not constitute a waiver of such right or provision. If any provision of the Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms remain in full force and effect.
        </p>
        <p>
            You agree that regardless of any statute or law to the contrary, any claim or cause of action arising out of or related to use of the Service or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred. The section titles in the Terms are for convenience and have no legal or contractual effect.
        </p>
        <p>
            If you have any questions or comments, please go to the <a href="@Url.Action("Index", "Help")">
                Help Center
            </a> page or to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
            page.
        </p>
    </div>
    <!-- END container -->
    @{if (ShowAirTerms)
    {
    <!-- Watch Now -->
        <div class="container">
            <a name="watchnow"></a>
            <h1 class="page_title clearfix">
                TERMS AND CONDITIONS OF USE OF WATCH NOW
            </h1>
            <h2>
                Description of Watch Now
            </h2>
            <p>
                Watch Now is a twenty-four (24) hour channel with a three(3)-hour programming grid
                replayed eight (8) times within a period of twenty-four (24) hours. It is accessible
                to and viewable by signed-in TFC.tv registered users in Hong Kong who have no active
                paid subscription to TFC.tv ("Eligible User" / "Eligible Users").
            </p>
            <p>
                "No active paid subscription to TFC.tv" means either of the following:
                <br />
                a. A TFC.tv registered user with the free trial entitlement given upon registration;
                or
                <br />
                b. A TFC.tv registered user with no active paid entitlement. This can be a user
                that has an expired free trial entitlement, or an expired subscription package,
                program/s, movie/s or pay per view service ("TFC.tv Product/s").
            </p>
            <p>
                A TFC.tv user who is not yet registered, or although registered, is not signed in,should
                first register and/or sign in before he/she can access and view the Watch Now without
                interruptions.
            </p>
            <p>
                The Eligible User can access the daily programming guide of Watch Now so he can
                see the programs that are viewable for the day by clicking the button within the
                page.
            </p>
            <h2>
                How to Access and View Watch Now
            </h2>
            <p>
                Once an Eligible User goes to the TFC.tv website (<a href="http://tfc.tv/">TFC.tv</a>)
                on his/her desktop or mobile browser, the Eligible User will land on the Watch Now
                page. He/She will be able to watch the video/s on Watch Now for three (3) minutes
                only, after which he/she will be asked to register to TFC.tv, if he/she has not
                registered yet. Registration to TFC.tv may be done by entering one's email address
                and password or by linking one's social network account (Please see Terms and Conditions
                of Subscription and/or Use on the Home Page of TFC.tv). Without registering to TFC.tv,
                the Eligible User will only be able to access Watch Now for three (3) minutes each
                time, and he/she will be asked to register to TFC.tv at the end of each three-minute
                access.
            </p>
            <p>
                Upon registration to TFC.tv, the TFC.tv user becomes entitled to his/her seven-day
                free trial of TFC.tv, and becomes an Eligible User of Watch Now.
            </p>
            <p>
                At the end of the TFC.tv user's entitlement to free trial, if he/she subscribes
                to any Paid Content on TFC.tv, he/she ceases to be an Eligible User of Watch Now.
            </p>
            <p>
                Paid Content refers to programs, movies, clips and other content, whether in a subscription
                package or retail subscription that the customer purchases on TFC.tv, whether from
                the Watch Now page/s or from the other web pages of TFC.tv. Paid Content is accessible
                by scrolling down the Menu found on the top portion of the Homepage. and clicking
                on the categories found on the Menu namely: Shows, Movies, News and Live. Each category
                has various genres from which the customer may choose from.
            </p>
            <h2>
                User Contributions, Reviews and Comments
            </h2>
            <p>
                You may publish, transmit, submit, tag or post (collectively, "Post") reviews and
                comments that are directly relevant to Watch Now. Posts will be deemed user contributed
                materials and shall be subject to the policies regarding User Posted Material detailed
                hereof.
            </p>
            <p>
                You agree not to Post or otherwise make available any of the following: a) harsh,
                profane, indecent, offensive or discriminatory language; b) illegal, obscene, defamatory
                or objectionable materials; c) personal information, URLs, phone numbers, contact
                information, home, office, mailing or e-mail addresses; d) personal attacks on another
                person or entity; e) unauthorized advertising or promotional materials or any form
                of solicitation; f) software viruses or any other computer code, files or programs
                designed to interrupt, destroy or limit the functionality of any computer software
                or computer hardware or telecommunication equipment. Violation of the foregoing
                will result in the immediate suspension or termination of your account. Additionally,
                in the event of any injuries or damages resulting from such violation to either
                ABS-CBN, its affiliates or other registered third party Watch Now users, you may
                be subject to all applicable civil and/or criminal penalties.
            </p>
            <p>
                You further agree not to collect, share or store personal data about other users.
                You also agree not to claim the identity of or misrepresent another person.
            </p>
            <p>
                You understand and agree that ABS-CBN will store the materials or communication
                subject of your Posts on its servers. Such materials will be subject to the Privacy
                Policy detailed hereinabove or as posted on the Watch Now page.
            </p>
            <h2>
                User Posted Material
            </h2>
            <p>
                You understand and agree that all information, data files, written text, Post/s
                or other images (collectively, "Material"), which are made available by registered
                subscriber/s or users, past and present, through Watch Now are the sole responsibility
                of the person where such Material came from.
            </p>
            <p>
                ABS-CBN does not endorse any Material posted by the subscribers and/or users and
                such Material does not reflect the opinion or policies of ABS-CBN and its Subsidiaries
                and Affiliates, nor of their employees, directors, shareholders, officers, agents,
                or representatives. You agree to waive any legal or equitable right or remedy you
                may have against ABS-CBN and its Subsidiaries and Affiliates, their employees, directors,
                shareholders, officers, agents, or representatives with respect to any Material
                posted by a subscriber or user on Watch Now.
            </p>
            <p>
                By posting a Material on Watch Now, you represent and warrant that you own the Material
                posted or that you have obtained permission from the rightful owner of the Material
                to Post, use or display it on Watch Now. You also represent and warrant that the
                Posting of the Material does not violate the right of any party or entity, including
                but not limited to invasion of privacy or infringement of intellectual property
                rights. You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates,
                their employees, directors, shareholders, officers, agents or representatives, free
                and harmless from and against any claim, suit, liability or damages which may arise
                out of or in connection with any material which you Post on Watch Now. You also
                grant ABS-CBN and its Subsidiaries and Affiliates a perpetual, irrevocable, worldwide,
                royalty-free, and non-exclusive license to use, reproduce, adapt, modify, translate,
                publish and distribute the Material, in whole or in part, you Post or make the same
                available on Watch Now or any platforms or channels or ABS-CBN, its Subsidiaries
                and Affiliates.
            </p>
            <p>
                We reserve the right, but shall have no obligation, to pre-screen, review, edit,
                modify, flag, refuse or remove any Material you Post or make available in Watch
                Now upon our reasonable belief that such Material is offensive, indecent, objectionable,
                infringes the right of a person or entity, or for any reason whatsoever at any time.
            </p>
            <p>
                In using Watch Now, you may be exposed to Material made available by other users
                that you may find offensive, indecent or objectionable. In such case, please advise
                us of such Material by going to the Contact Us page. However, you hereby expressly
                acknowledge and accept that certain Material may be posted or contained on Watch
                Now that may be in opposition to your personal beliefs, opinions or taste, but shall
                nonetheless be lawfully permitted.
            </p>
            <h2>
                Advertisements and Links
            </h2>
            <p>
                Watch Now may show advertisements and communications from ABS-CBN, and its Subsidiaries
                and Affiliates. Unless otherwise specified, no advertisement, communication, or
                information shall be deemed as a binding offer from ABS-CBN, or its Subsidiaries
                and Affiliates. Furthermore, ABS-CBN makes no warranty, representation/s or endorsement
                of any goods or services offered thereof. Instead, the advertisement, communication
                or information may be considered as an invitation for you to purchase products of
                ABS-CBN and its Subsidiaries and Affiliates or to engage or avail of their services.
            </p>
            <p>
                Watch Now may also show advertisements and communications from advertisers other
                than ABS-CBN ("Other Advertisers"). You agree that your correspondence or dealings
                with the Other Advertisers are solely between you and the Other Advertisers. You
                agree and acknowledge that ABS-CBN shall not be liable for, and that you shall hold
                ABS-CBN and its Subsidiaries free and harmless from any loss, claim, suit, proceedings
                or damage in connection with your correspondence or dealins with the Other Advertisers.
            </p>
            <p>
                Watch Now may also provide links to other internet sites. You agree and acknowledge
                that ABS-CBN shall not be responsible or liable, directly or indirectly, for any
                damage or loss caused by your use of any content, goods or services available in
                other internet sites. No warranty, implied or express, is offered by ABS-CBN or
                its affiliates as to any goods or services provided by its advertisers.
            </p>
            <h2>
                Disclaimer
            </h2>
            <p>
                We disclaim any representations and warranties, including without limitation, the
                implied warranties of merchantability and fitness for a particular purpose. You
                agree and acknowledge that we shall have absolutely no liability in connection with
                the provision of the services for Watch Now including, but not limited to, any liability
                for damage to your computer hardware, data, information, materials and business
                resulting from your use of Watch Now.
            </p>
            <p>
                You agree and acknowledge that we make no warranty, representation or guarantee
                as to the content, sequence, timeliness, accuracy or completeness of Watch Now or
                that Watch Now will be uninterrupted or error free or that any defects in Watch
                Now can be corrected. You agree and acknowledge that we shall not be liable for
                any direct, indirect, incidental, special, consequential or exemplary damages, including
                but not limited to, damages for lost profits, goodwill, use, data or other intangible
                losses (even if we have been advised of the possibility of such damages), resulting
                from: (1) your use or your inability to use Watch Now; (2) the cost of procurement
                of substitute goods and services resulting from any goods, data, information or
                services purchased or obtained or messages received or transactions entered into
                through or from Watch Now, or (3) any other matter relating to Watch Now
            </p>
            <h2>
                Indemnity
            </h2>
            <p>
                You agree to indemnify and hold ABS-CBN, its Subsidiaries and Affiliates and their
                directors, officers, agents, or other partners, and employees, free and harmless
                from and against any and all claims, damages, liabilities, costs and expenses, including
                attorney's fees, made by any third party due to or arising out of your use of Watch
                Now, your connection to Watch Now, your use of the facilities of Watch Now, your
                violation of the Terms, your violation of the rights of any person or entity, or
                your violation of any applicable laws.
            </p>
            <h2>
                Miscellaneous
            </h2>
            <p>
                Our failure to exercise or enforce any right or provision of the Terms shall not
                constitute a waiver of such right or provision. If any provision of the Terms is
                found by a court of competent jurisdiction to be invalid, the parties nevertheless
                agree that the court should endeavor to give effect to the parties' intentions as
                reflected in the provision, and the other provisions of the Terms remain in full
                force and effect.
            </p>
            <p>
                You agree that regardless of any statute or law to the contrary, any claim or cause
                of action arising out of or related to use of Watch Now must be filed within one
                (1) year after such claim or cause of action arose or be forever barred.
            </p>
            <p>
                The section titles in the Terms are for convenience and have no legal or contractual
                effect.
            </p>
            <p>
                For more information on the system requirements of Watch Now, please visit the <a href="@Url.Action("Index", "Help")">
                    >
                    Help Center
                </a>.
            </p>
            <p>
                If you have any questions or comments, please go to the <a href="@Url.Action("Index", "Help")">
                    Help Center
                </a> or to the <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                page.
            </p>
        </div>
    }
    }
</section>
<!-- END Terms & contitions page body -->
