@model TFCTV.Models.CustomSearchApiResponse
@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";
    int totalResults = Convert.ToInt32(Model.queries.request.First().totalResults);
}
<div id="mainBody">
    <br />
    <br />
    <div class="transparentBg floatLeft">
        <div class="genericHeader">
            <div id="genericHeader_header">
                <div id="headerTitle" class="sectionHeaderTitle">
                    Search Results</div>
                <div id="headerCategoryName" class="sectionHeader">
                </div>
            </div>
        </div>
        <!-- start of list -->
        <div id="registerContainer">
            <div class="breakStandard">
            </div>
            <div class="padLeftLarge">
                <p class="white">
                    Found about @totalResults.ToString("#,##0") results for the query <strong>@Model.queries.request.First().searchTerms</strong>.
                </p>
                <ul>
                    @foreach (var item in Model.items)
                    {
                        <li><a href="@item.link" class="searchtitle">@Html.Raw(item.htmlTitle)</a>
                            <p class="white searchdesc">@Html.Raw(item.htmlSnippet.Replace("<br>", ""))</p>
                            <p class="searchlink">@Html.Raw(item.htmlFormattedUrl)</p>
                        </li>
                    }
                </ul>
                @Html.Action("Pagination", new { totalPages = totalResults, currentPage = 1, offSet = 0 })
                <div class="breakStandard">
                </div>
            </div>
        </div>
        <div class="clear breakStandard">
        </div>
    </div>
</div>
@section Stylesheet
{
    @Html.CssBuilder(Url, "search.css")
}