<br />
@*<div class="postit">
    <div class="header">
        Reminder</div>
    You have @ViewBag.remainingDaysofCurrentSubscription
    day(s) left on your current @ViewBag.CurrentPackageName subscription. The remaining
    days will be converted and added when you upgrade to a @ViewBag.NewSubscriptionName
    Subscription.<div class="breakSmall">
    </div>
    After the transaction is completed, enjoy a total of @ViewBag.CombinedSubscriptionTotalDays
    day(s) of @ViewBag.NewSubscriptionName Subscription access (@ViewBag.ConvertedDays
    remaining day(s) + @ViewBag.NewSubscriptionProductName
    Subscription).
</div>*@
<div class="clear breakLarge">
</div>
