@{
    ViewBag.Title = String.Format("{0} - TFC.tv", "Barkadaoke");
    Layout = "~/Views/Shared/_TFCTVBlue.cshtml";

}
<br />
<br />
<div id="mainBody">
    <div class="transparentBg">
        <div class="breakStandard">
        </div>
        <!-- click tayo header -->
        <div style="margin-top: -10px;">
            @Html.ImageBuilder(Url, "banners/barkadaoke.jpg", new { title = "Barkadaoke", alt = "Barkadaoke", width = 940 })</div>
        <div>
            <a href="@Url.Action("Index", "Barkadaoke")" class="record-btn white">Record</a><a href="@Url.Action("Gallery", "Barkadaoke")" class="gallery-btn white">Gallery</a>
            <a href="@Url.Action("Mechanics", "Barkadaoke")" class="mechanics-btn white">Mechanics</a><a href="@Url.Action("Prizes", "Barkadaoke")" class="prizes-btn white">
                Prizes</a>
        </div>
        <div id="video-list">
            <div class="breakLarge">
            </div>
            <div class="breakLarge">
            </div>
            <div class="yt-videos">
                <div style="color: #fff; font-size: 18px; font-weight: bold; margin-top: 30px;">
                    Win top of the line Samsung Netbooks weekly and a Samsung Ultrabook Series 5 for
                    the grand prize!
                </div>
                <div>@Html.ImageBuilder(Url, "barkadaoke/laptop.png")</div>
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
@section StyleSheet {
    @Html.CssBuilder(Url, "comment.css")
    @Html.CssBuilder(Url, "clicktayo.css")
    @Html.CssBuilder(Url, "featureditem.css")
    @Html.CssBuilder(Url, "barkadaoke.css")
}
