@model List<MostLovedShowsDisplay>
@{if (Model != null)
  {
      if (Model.Count > 0)
      {
          int i = 0;
    <ul class="most-loved-container">
        @foreach (var item in Model)
        {
            i++;
            string href = String.Format("/Show/Details/{0}/{1}", item.categoryId, item.slug);
            <li class="showslistcontainer">
                <ul class="showslist">
                    <li class="showscount">@i</li>
                    <li class="showsdetails marTop"><span class="showsname"><a href="@href" title="@HttpUtility.HtmlEncode(item.categoryName)">@Html.Raw(item.categoryName)</a></span></li>
                    <li class="pointsbox"><span class="showspoints">@item.totalLove</span></li>
                </ul>
            </li>            
        }
    </ul>
      }
  }
}
